/* Branding Colors */
/*
Primary:
Eggplant - #602650 - rgb 96, 38, 81
Olive Green - #789b4a - rgb 120, 156, 74
Pepper - #e43d2f - 228, 61, 48

Secondary:
Dark Mushroom - #5c534d - rgb 92, 83, 77
Light Mushroom - #efeeeb - rgb 239, 238, 236
*/

/* Fonts */
@font-face {
  font-family: "wanderlust_lettersregular";
  src: url("../fonts/cultivated_mind_-_wanderlust_letters-webfont.woff2")
      format("woff2"),
    url("../fonts/cultivated_mind_-_wanderlust_letters-webfont.woff")
      format("woff"),
    url("../fonts/cultivated_mind_-_wanderlust_letters-webfont.otf")
      format("opentype"),
    url("../fonts/cultivated_mind_-_wanderlust_letters-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "local_breweryfour";
  src: url("../fonts/cultivated_mind_-_local_brewery_four-webfont.woff2")
      format("woff2"),
    url("../fonts/cultivated_mind_-_local_brewery_four-webfont.woff")
      format("woff"),
    url("../fonts/cultivated_mind_-_local_brewery_four-webfont.otf")
      format("opentype"),
    url("../fonts/cultivated_mind_-_local_brewery_four-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*General*/

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  position: relative;
  background-color: #efeeeb;
  background-image: url("../images/ThinkstockPhotos-545794038.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "wanderlust_lettersregular";
  color: #602650;
  line-height: 1.3;
}

.subheading {
  color: #e43d2f;
  font-family: "local_breweryfour";
}

a {
  text-decoration: none;
  -moz-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.indicates-required,
label {
  display: block;
  font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #5c534d;
  background-color: #efeeeb;
  border: 2px solid #5c534d;
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border linear 0.3s;
  -webkit-transition: border linear 0.3s;
  -o-transition: border linear 0.3s;
  transition: border linear 0.3s;
}

textarea {
  padding: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #789b4a !important;
  outline: none;
}

.btn {
  font-family: "Open Sans", sans-serif;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.btn:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.btn-default {
  color: #602650;
  font-weight: 700;
  font-size: 20px;
  border-width: 3px;
  background-color: transparent;
  border-color: #602650;
}

.btn-default:hover,
.btn-default:active {
  color: #efeeeb;
  background-color: #602650;
  border-color: #efeeeb;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.container {
  position: relative;
  z-index: 3;
}

/*Header*/

/*Top nav left*/

.top-nav {
  color: #070606;
  line-height: 40px;
  border-bottom: 1px solid #789b4a;
}

/*Top left Menu*/

.top-left {
  float: left;
}

.top-left ul > li {
  display: inline-block;
  margin-right: 15px;
}

.top-left a {
  color: #070606;
}

.top-left a:hover {
  color: #789b4a;
}

/*Top Right Menu*/

.top-right {
  float: right;
}

.top-right p:before {
  content: "\f041";
  font-family: "FontAwesome";
  font-size: 16px;
  color: #789b4a;
  margin-right: 10px;
}

.top-right p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.top-right p > span {
  margin-left: 5px;
  font-style: italic;
  font-weight: 400;
}

/*Nagivation*/

#main-nav {
  padding: 15px 0;
  position: relative;
}

#main-nav::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efeeeb;
  opacity: 0.8;
}

/*Affix*/

#main-nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -moz-box-shadow: 0 1px 2px #5c534d;
  -webkit-box-shadow: 0 1px 2px #5c534d;
  box-shadow: 0 5px 5px rgba(0, 20, 64, 0.15);
  transition: all 0.3s;
}

#main-nav.affix::before {
  opacity: 0.9;
}

.navbar {
  margin: 0;
}

.navbar-brand {
  position: relative;
  padding-left: 55px;
}

.navbar-brand img {
  position: absolute;
  top: 0;
  left: 15px;
  height: 50px;
  width: 50px;
}

/*Toggle Menu*/

#main-nav .navbar-toggle {
  background-color: #789b4a;
}

#main-nav .navbar-toggle span {
  background-color: #efeeeb;
}

/*Main Menu*/

#main-nav .navbar-right {
  margin-top: 10px;
}

#main-nav .navbar-right li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #5c534d;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

#main-nav .navbar-right li > a:focus {
  color: #5c534d;
  background: none;
  outline: none;
}

#main-nav .navbar-nav > li > a:hover,
#main-nav .navbar-nav > li.active > a {
  color: #5c534d;
  background: none;
}

/* Feature image */
.feature-image {
  position: relative;
  background-color: #efeeeb;
  margin-bottom: 15vh;
}

.feature-image::before {
  display: block;
  content: " ";
  position: absolute;
  left: calc(10vw + 50px);
  right: 0;
  bottom: 10px;
  height: 100%;
  z-index: 12;
  border-bottom: 10px dotted #efeeeb;
}

.feature-image::after {
  display: block;
  content: " ";
  position: absolute;
  background: #789b4a;
  bottom: -7%;
  left: 10vw;
  right: 0;
  height: 7%;
  z-index: 2;
}

.jumbotron {
  background-color: #efeeeb;
  background-image: url("../images/DSC_0033-16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 80vh;
  color: #789b4a;
  font-family: "wanderlust_lettersregular";
  clip-path: polygon(15vw 0, 100% 0, 100% 100%, 0 100%);
}

.jumbotron::before {
  display: block;
  content: " ";
  position: absolute;
  background: #000000;
  bottom: 0;
  left: 10vw;
  right: 0;
  height: 12%;
  opacity: 0.5;
  z-index: 2;
}

.jumbotron .container {
  height: 100%;
}

.jumbotron .container img {
  max-width: 80vw;
}

.jumbotron p {
  padding-left: 10vw;
}

.jumbotron h1 {
  display: inline-block;
  padding: 15px 25vw 15px 15px;
  background-color: #602650;
  color: #efeeeb;
  margin: 5px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #efeeeb;
  text-transform: uppercase;
  background-color: #789b4a;
  border-color: #789b4a;
}

.jumbotron .btn-primary {
  margin-top: 100px;
}

/*Main Slider*/

#slider {
  margin: 0;
  padding: 0;
  position: relative;
}

.flexslider {
  border: 0;
}

/*Slider Caption*/

#slider .caption {
  position: absolute;
  width: 600px;
  top: 50%;
}

#slider .caption h2 {
  font-weight: 700;
  font-size: 48px;
}

#slider .caption span {
  padding: 0 10px;
  background-color: #602650;
  color: #efeeeb;
}

#slider .caption p {
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
  margin-top: 30px;
  color: #789b4a;
}

#slider .caption button {
  font-weight: 700;
  font-size: 17px;
  margin-top: 20px;
  background-color: #602650;
  color: #efeeeb;
  border: 1px solid #efeeeb;
}

#slider .caption button:hover {
  background-color: #efeeeb;
  border: 1px solid #602650;
  transition: 0.3s;
  color: #602650;
}

/*Media*/

@media screen and (min-width: 320px) and (max-width: 520px) {
  #slider .caption {
    position: absolute;
    width: 400px;
    top: 55%;
  }
  #slider .caption h2 {
    font-size: 15px;
  }
  #slider .caption p {
    font-size: 10px;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: #789b4a;
  }
  #slider .caption .btn {
    width: 80px;
    height: 20px;
    font-size: 10px;
    margin-top: 5px;
    padding: 0;
  }
}

/*Media*/

@media screen and (min-width: 521px) and (max-width: 980px) {
  #slider .caption {
    position: absolute;
    width: 450px;
    top: 50%;
  }
  #slider .caption h2 {
    font-size: 24px;
  }
  #slider .caption p {
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
    color: #789b4a;
  }
  #slider .caption .btn {
    width: 110px;
    height: 30px;
    font-size: 12px;
    margin-top: 15px;
  }
}

/*Control Nav*/

#slider .flex-control-nav {
  position: absolute;
  display: inline;
  z-index: 2;
}

#slider .flex-control-nav li {
  margin: 5px;
  display: inline-block;
}

#slider .flex-control-paging li a {
  background: #efeeeb;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #789b4a;
}

#slider .flex-control-paging li a:hover {
  background: #789b4a;
}

#slider .flex-control-paging li a.flex-active {
  background: #789b4a;
  width: 12px;
  height: 12px;
}

/* Sections */
.section {
  margin-top: 100px;
}

.section-heading {
  text-align: center;
}

.section-heading h2 {
  font-size: 56px;
}

.section-heading p {
  margin-top: 20px;
  line-height: 25px;
  color: #070606;
  margin-bottom: 50px;
}

/*About*/

.about-content {
  border: 8px solid #789b4a;
  background-color: #efeeeb;
  padding: 5vw;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}

.about-content .headshot,
.about-content .content {
  flex: 1 0 100%;
  padding: 10px;
}

.about-content .content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.about-content .content .text {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content .content .text h3 {
  text-align: center;
}

@media (min-width: 768px) {
  .about-content .headshot {
    flex: 1 0 33%;
  }
  .about-content .content {
    flex: 2 0 66%;
  }
}

/*Media*/

/*Service*/

#services {
  background-attachment: scroll;
  padding-bottom: 0px;
  padding-top: 0px;
}

#services .col-md-6 {
  padding: 0;
}

#services .service-heading {
  text-align: center;
}

#services .service-heading h2 {
  font-weight: 700;
  font-size: 45px;
}

#services .service-heading p {
  margin-top: 20px;
  line-height: 25px;
  color: #efeeeb;
  margin-bottom: 50px;
}

.services-style-one {
  background: #efeeeb;
  margin-top: 25px;
}

.services-style-one .service-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
}

.services-style-one .service-block {
  flex: 1 0 100%;
  display: flex;
  padding: 25px 0;
  text-align: center;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .services-style-one .service-block {
    flex: 1 0 50%;
    padding: 25px;
  }
}

.services-style-one .service-block h4 {
  flex: 0 0 52px;
}

.services-style-one .service-block .text {
  text-align: left;
  flex: 1 0 auto;
}

.services-style-one .icon-box {
  flex: 0 0 auto;
}

.services-style-one .icon-box .icon-border {
  display: inline-block;
  border-radius: 50%;
  border: 10px solid #e43d2f;
}

.price-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.price {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #602650;
  color: #efeeeb;
  height: 135px;
  width: 135px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  margin: 15px auto;
}

.price-value {
  font-size: 1.8em;
  font-weight: bold;
}

.price .text-sm {
  font-size: 0.7em;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.9);
}

/*Service Footer*/

#services .service-footer {
  background-color: #789b4a;
  padding: 30px 0;
}

#services .service-footer-left h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #efeeeb;
}

#services .service-footer-left h3 > span {
  color: #efeeeb;
}

#services .service-footer-left p {
  font-size: 16px;
  color: #efeeeb;
}

#services .service-footer-right {
  float: right;
  line-height: 80px;
}

.join-content .btn,
.menu-container .btn-buy-jars,
#services .service-footer-right .btn {
  background-color: #e43d2f;
  font-weight: 600;
  color: #efeeeb;
  border: 3px solid #efeeeb;
}

.join-content .btn,
.menu-container .btn-buy-jars {
  border-color: #e43d2f;
}

.join-content .btn:hover,
.menu-container .btn-buy-jars:hover,
#services .service-footer-right .btn:hover {
  background-color: #efeeeb;
  color: #e43d2f;
  border-color: #efeeeb;
}

.join-content .btn:hover,
.menu-container .btn-buy-jars:hover {
  border-color: #e43d2f;
}

/*Menu*/
.menu-btn-container {
  margin-top: 15px;
}

.flexslider .slides {
  background: #efeeeb;
}

.flex-direction-nav a,
.flex-direction-nav a:before {
  height: 44px;
  color: #789b4a;
}

.flex-control-paging li a {
  background: #8C9C78;
  background: rgba(120, 156, 74, 0.5);
}
.flex-control-paging li a:hover {
  background: #809C5D;
  background: rgba(120, 156, 74, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #789b4a;
  background: rgba(120, 156, 74, 0.9);
  cursor: default;
}

.carousel-control.right,
.carousel-control.left {
  background: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  color: #789b4a;
}

.carousel .carousel-indicators {
  bottom: -5px;
}

.carousel .carousel-indicators li {
  border: 1px solid #789b4a;
}

.carousel .carousel-indicators .active {
  background-color: #789b4a;
}

@media screen and (min-width: 768px) {
  .carousel .carousel-indicators {
    bottom: -10px;
  }

  .carousel-control.right {
    right: -15%;
  }

  .carousel-control.left {
    left: -15%;
  }
}

.menu-image {
  flex: 0 0 30%;
  max-height: 250px;
}

.menu-list {
  padding-left: 0;
}

.menu-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.menu-list li h4 {
  font-family: "local_breweryfour", sans-serif;
  font-size: 26px;
  color: #789b4a;
}

@media (min-width: 768px) {
  .menu-container {
    padding: 15px;
  }

  .menu-list li {
    flex-direction: row;
    justify-content: flex-start;
  }

  .menu-list li div {
    flex: 1 1 auto;
  }

  .menu-image {
    margin-right: 20px;
  }

  .menu-list li:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .menu-list li:nth-child(2n) .menu-image,
  .menu-list li:nth-child(2n) .menu-image-placeholder {
    margin-left: 20px;
    margin-right: 0;
  }
}

/*FAQ*/

/*Contact*/

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

/* Contact */

.contact-container {
  line-height: 2;
}

#mc-embedded-subscribe {
  margin-top: 16px;
}

#mc_embed_signup {
  margin-top: 50px;
}

input.mce_inline_error {
  border: 2px solid #e43d2f !important;
}

div.mce_inline_error {
  color: #e43d2f !important;
  background: none !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

@media (min-width: 768px) {
  .contact-container {
    font-size: 1.6em;
  }
}

@media (min-width: 992px) {
  #mc_embed_signup {
    margin-top: 0;
  }
}

/*Bottom Footer*/

#bottom-footer {
  position: relative;
  margin-top: 50px;
  background-image: url("../images/ThinkstockPhotos-545794038.jpg");
  background-size: cover;
  padding: 20px 0;
  color: #5c534d;
}

#bottom-footer::before {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #efeeeb;
  opacity: 0.8;
}

#bottom-footer .footer-right ul > li > a {
  color: #5c534d;
}

#bottom-footer .footer-right ul > li > a:hover {
  color: #5c534d;
}

.monthly-menu-header {
  font-family: "Open Sans", sans-serif;
}

i.fa.fa-external-link {
  font-size: 16px;
}

.menu-archive {
  margin-top: 100px;
}

.menu-archive h1 {
  text-align: center;
}

.menu-archive h2 {
  font-family: "local_breweryfour";
  color: #e43d2f;
}

.join-content,
.menu-content,
.menu-archive {
  border: 8px solid #789b4a;
  background-color: #efeeeb;
  padding: 2vw 5vw 5vw 5vw;
}

.photos-section {
  margin-top: 90px;
}

.photos-section .grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.photos-section .photo-item {
  box-sizing: border-box;
  flex: 0 1 calc(50% - 8px);
  display: flex;
  align-items: center;
  background-color: #efeeeb;
  border: 8px solid #efeeeb;
  margin: 4px;
}

.photos-section .photo-item img {
  width: 100%;
}

@media (min-width: 768px) {
  .photos-section .photo-item {
    flex: 0 1 calc(33% - 8px);
  }
}

@media (min-width: 992px) {
  .photos-section .photo-item {
    flex: 0 1 calc(25% - 8px);
  }
}
