<div id="contact" class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-4 text-center"><a href="mailto:andrea@mydinnerdelights.com">andrea@mydinnerdelights.com</a></div>
        <div class="col-sm-2 text-center"><a href="tel:+15156355517">(515) 635-5517</a></div>
    </div>
</div>