<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="text-center">Gifts in a Jar are back!</h3>
    <p>
      Through December you can make
      <strong>Hot Cocoa Mix, Pancake Mix, or Monster Cookies</strong>. They are
      perfect for anyone you need to give a quick, delicious handmade gift!
      Teachers, friends, service providers, or just because! $9 each!
    </p>
    <p class="text-center">
      Order your jars today!
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <a
      href="<%= config.gifts_in_a_jar %>"
      class="btn btn-buy-jars"
      target="_blank"
      >ORDER JARS</a
    >
  </div>
</div>
