<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="text-center">Holiday Sides!</h3>
    <p>
      Dinner Delights can make everything except the turkey. Let us help make
      your holiday easier. Contact Andrea to see what we can do!
    </p>
    <p class="text-center">
      Order your sides today!
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <a
      href="<%= config.holiday_sides %>"
      class="btn btn-buy-jars"
      target="_blank"
      >ORDER SIDES</a
    >
  </div>
</div>
