<section class="feature-image">
    <div class="jumbotron">
        <div class="container">
            <img src="/images/DSC_0033-16.jpg" alt="" aria-hidden="true" style="display:none;"/>
            <p>Welcome to nights of</p>
            <h1>Dinner Delights</h1>
            <p><a class="btn btn-primary btn-lg" href="#contact" role="button">Contact me to schedule today!</a></p>
        </div>
    </div>
</section>