<div id="join">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Join a party</h2>
                </div>
            </div>
        </div>
    </div>
    <section class="join-container">
        <div class="container join-content">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>
                        Looking to join an already scheduled party?
                    </p>
                 </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="http://buytickets.at/dinnerdelights" class="btn" target="_blank">RESERVE MY SPOT</a>
                </div>
            </div>
        </div>
    </section>

</div>