    <!--top header-->
    <header id="home">
        <!--main-nav-->
        <div id="main-nav">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">
                            <img alt="Dinner Delights" src="/images/DinnerDelights_Logo_Eggplant_1C_7652C.svg" />
                        </a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ftheme">
							<span class="sr-only">Toggle</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                    </div>
                    <div class="navbar-collapse collapse" id="ftheme">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#home">home</a></li>
                            <li><a href="#about">about</a></li>
                            <li><a href="#photos">photos</a></li>
                            <li><a href="#services">services</a></li>
                            <li><a href="#menu">menu</a></li>
                            <li><a href="#join">join a party</a></li>
                            <li><a href="/Availability/">availability</a></li>
                            <!--<li><a href="#faq">faq</a></li>-->
                            <li><a href="#contact">contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>