<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">May 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="menu-list">

                        <li>
                            <img src="/Menu-Images/2018-05/web_Chicken Burrito Bowls.JPG" alt="Chicken Burrito Bowls" class="menu-image" />
                            <div>
                                <h4>Chicken Burrito Bowls</h4>
                                <p>Shredded chicken and veggies top rice for a quick and delicious dinner. (Slow Cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Honey Chicken Tenders.JPG" alt="Honey Chicken Tenders" class="menu-image" />
                            <div>
                                <h4>Honey Chicken Tenders</h4>
                                <p>Sweet chicken tenders baked to perfection. Comes with veggies. (Oven)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Mediterranean Turkey Burger.JPG" alt="Mediterranean Turkey Burger" class="menu-image" />
                            <div>
                                <h4>Mediterranean Turkey Burger</h4>
                                <p>Juicy turkey burger mixed with spinach, sun dried tomatoes, and feta. Comes with buns and
                                    veggies. (Grill or stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Balsamic Honey Pulled Pork.JPG" alt="Balsamic Honey Pulled Pork" class="menu-image" />
                            <div>
                                <h4>Balsamic Honey Pulled Pork</h4>
                                <p>Pulled pork mixed with a sweet and tangy bbq sauce. Comes with rolls and veggies. (Slow cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Jalapeno Pineapple Pork Tacos.JPG" alt="Jalapeno Pineapple Pork Tacos" class="menu-image" />
                            <div>
                                <h4>Jalapeno Pineapple Pork Tacos</h4>
                                <p>Sweet and spicy pork tacos. Fresh flavors ready when you need it! Comes with corn tortillas
                                    and cheese. (Slow cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Italian Pork Roast.JPG" alt="Italian Pork Roast" class="menu-image" />
                            <div>
                                <h4>Italian Pork Roast</h4>
                                <p>Pork roast slow cooked with herbs and tomatoes. Smells amazing and tastes great! Served with
                                    green beans. (Crockpot)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Pizza Burgers.JPG" alt="Pizza Burgers" class="menu-image" />
                            <div>
                                <h4>Pizza Burgers</h4>
                                <p>Homemade burgers that are good either grilled or pan cooked. Topped with mozzarella, pepperoni,
                                    and marinara. Comes with buns and veggies. (Grilled or stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Philly Stuffed Peppers.JPG" alt="Philly Stuffed Peppers" class="menu-image" />
                            <div>
                                <h4>Philly Stuffed Peppers</h4>
                                <p>Bell peppers stuffed with beef and onions then topped with provolone. (Stovetop then Bake)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Creamy Mozzarella Tomato Tortellini.JPG" alt="Creamy Mozzarella Tomato Tortellini" class="menu-image" />
                            <div>
                                <h4>Creamy Mozzarella Tomato Tortellini</h4>
                                <p>Creamy, veggie loaded pasta sauce with tortellini. A quick meal for a busy night. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-05/web_Baked Denver Omelet.JPG" alt="Baked Denver Omelet" class="menu-image" />
                            <div>
                                <h4>Baked Denver Omelet</h4>
                                <p>A great breakfast or dinner choice! Ham, veggies and cheese topped with eggs and baked until
                                    golden brown and delicious! (Oven)</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>