<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>May 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>Grilled Southwestern Pork Chops with Honey Lime Sweet Potatoes</strong>
                            <ul>
                                <li>Juicy, seasoned pork chops and sweet potatoes tossed with honey lime sauce. A great new way
                                    to try sweet potatoes. (Grilled)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Cilantro Grilled Chicken</strong>
                            <ul>
                                <li>Grilled chicken topped with seasoned butter. Served with veggies. (Grilled)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Asparagus Stuffed Chicken</strong>
                            <ul>
                                <li>Chicken breast seasoned and stuffed with provolone and asparagus. Served with veggies. (Grilled
                                    or Stovetop)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>BBQ Baby Back Ribs</strong>
                            <ul>
                                <li>Delicious slow cooked ribs. Perfect for your next BBQ! Served with veggies and corn bread.
                                    (Crockpot then grill or bake)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Chicken Burrito Bowls</strong>
                            <ul>
                                <li>Tasty chicken and veggies over rice. Served with cheese. (Crockpot)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Teriyaki Burger</strong>
                            <ul>
                                <li>Beef burger with seasonings and teriyaki sauce. Topped with grilled pineapple and swiss cheese.
                                    Served with bun and veggies. (Grill)</li>
                            </ul>
                        </li <li>
                        <strong>Bacon Cheddar Burger</strong>
                        <ul>
                            <li>Beef burger mixed with bacon and cheddar. Served with bun and veggies. (Grill)</li>
                        </ul>
                        </li>
                        <li>
                            <strong>Hawaiian Pork</strong>
                            <ul>
                                <li>Marinated pork and pineapple served over brown rice. (Crockpot)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Italian Pork Roast</strong>
                            <ul>
                                <li>Pork roast slow cooked with herbs and tomatoes. Smells amazing and tastes great! Served with
                                    spaghetti and green beans. (Crockpot)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Crustless Bacon Swiss Quiche</strong>
                            <ul>
                                <li>Flavorful quiche served with veggies. A way great to start or end your day! (Baked)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="monthly-menu-header text-center">Burger Bonanza!</h3>
                    <ul>
                        <li>
                            <strong>Double Double Bacon Cheddar Burger</strong>
                            <ul>
                                <li>Beef burger mixed with bacon and cheddar then topped with more bacon and cheddar. Comes with
                                    buns.</li>
                            </ul>
                        </li>
                        <li>

                            <strong>Burger Mignon</strong>
                            <ul>
                                <li>Beef burger mixed with cheddar, blue cheese and seasonings. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Italian Meatball Burger</strong>
                            <ul>
                                <li>Beef burger seasoned and stuffed with mozzarella. Comes with marinara and garlic buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Green Chile Cheeseburger</strong>
                            <ul>
                                <li>Seasoned beef burger. Topped with cheddar and roasted green chiles. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Buffalo Chicken Burger</strong>
                            <ul>
                                <li>Chicken burger mixed with buffalo sauce and seasonings. Topped with blue cheese crumbles
                                    and/or provolone. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Western Chicken Burger</strong>
                            <ul>
                                <li>Chicken burger mixed with cheddar, jalapeno, and bacon. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Mediterranean Turkey Burger</strong>
                            <ul>
                                <li>Turkey burger mixed with spinach, feta, and sun dried tomatoes. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Turkey Apple Cheddar Burger</strong>
                            <ul>
                                <li>Turkey mixed with apples, cheddar and spices. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Cuban Pork Burger</strong>
                            <ul>
                                <li>Deliciously seasoned pork burger served on a crusty bun with ham and swiss cheese.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Triple Pork Burger</strong>
                            <ul>
                                <li>Seasoned pork and ground beef burger topped with ham, bacon, cheddar, and caramelized onions.
                                    Comes with onion buns. </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="monthly-menu-header text-center">Gifts in a Jar!</h3>
                    <h4 class="monthly-menu-header text-center">$7 each</h4>
                    <p class="text-center">Pick from Brownies, Reese’s peanut butter cookie, and/or S’more bars. Great client, teacher, or hostess
                        gifts!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>