<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>October 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>BBQ Bacon Onion Bombs</strong>
                            <ul>
                                <li>Homemade meatballs wrapped in onion wrapped in bacon. Soon to be your fall favorite! Comes
                                    with veggies. (Oven)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Chili Cheese Burgers</strong>
                            <ul>
                                <li>Burgers cooked with a quick chili and topped with melty cheese. Comes with buns. (Stovetop)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Red Wine Roast with Creamy Polenta and Roasted Radishes</strong>
                            <ul>
                                <li>Herb rubbed roast cooked in red wine. Perfect for Sunday dinner and no one has to know it
                                    took you less than half an hour to make! (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Honey Lime Chicken with Butternut Squash</strong>
                            <ul>
                                <li>The perfect blend of squash, chicken and seasonings. Served over rice. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Apple Cider Pulled Chicken</strong>
                            <ul>
                                <li>Juicy shredded chicken that makes a great sandwich. Comes with sourdough and cheddar. (Slow
                                    cooker)
                                </li>
                            </ul>
                        </li>

                        <li>
                            <strong>Jamaican Jerk Pork Burger</strong>
                            <ul>
                                <li>Flavorful, seasoned pork burgers. Comes with buns and pepper jack cheese. (Stovetop or Grill)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Spicy Pork Burrito Bowls</strong>
                            <ul>
                                <li>Pork and veggies seasoned to your taste. Add some rice and you have the perfect burrito bowl!
                                    Comes with rice and cheese. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Cuban Sandwiches</strong>
                            <ul>
                                <li>I love Cuban sandwiches! Pork is slow cooked with citrus and herbs all day. Add ham and Swiss
                                    and you have an amazing sandwich. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Pumpkin Coconut Bisque</strong>
                            <ul>
                                <li>One of my favorite soups! It is the perfect flavor of fall. (Stovetop)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Italian Breakfast Bake</strong>
                            <ul>
                                <li>Layers of hash browns, ham, salami, mozzarella and eggs baked into a delicious casserole.
                                    It is a great dish for a chilly autumn morning or evening! (Oven)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>