<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">August 2019</h3>
                <ul class="menu-list">
                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Turkey Apple Cheddar Burgers.JPG"
                      alt="Turkey Apple Cheddar Burgers"
                      class="menu-image"
                    />
                    <div>
                      <h4>Turkey Apple Cheddar Burgers</h4>
                      <p>
                        Turkey is mixed with shredded apples and cheddar for a
                        juicy burger! Comes with buns and veggies. (Grill)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Salsa Verde Chicken.JPG"
                      alt="Salsa Verde Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Salsa Verde Chicken
                      </h4>
                      <p>
                        Chicken is slow cooked with salsa verde and seasoning.
                        Stuff corn tortillas with meat and cheese and you will
                        have a new Taco Tuesday favorite. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Sausage and Cheese Bubbles.JPG"
                      alt="Sausage and Cheese Bubbles"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Sausage and Cheese Bubbles
                      </h4>
                      <p>
                        A great meal for a lazy morning or a rushed evening!
                        Biscuits are filled with sausage and cheese. Comes with
                        scrambled eggs. (Oven and Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Bacon Wrapped Pork Chops.JPG"
                      alt="Bacon Wrapped Pork Chops with Jalapeno Creamed Corn"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Bacon Wrapped Pork Chops with Jalapeno Creamed Corn
                      </h4>
                      <p>
                        Juicy pork chops wrapped in crispy bacon and served with
                        homemade creamed corn. It is the perfect Iowa farm meal!
                        (Stovetop or Grill)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Red Chile Honey Pork Chops.JPG"
                      alt="Red Chile Honey Pork Chops"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Red Chile Honey Pork Chops
                      </h4>
                      <p>
                        Juicy pork chops are marinated in a spicy honey
                        marinade. While the pork chops cook, the marinade is
                        turned into a delicious sauce to serve with the chops
                        and veggies. (Grill)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Cajun Burgers.JPG"
                      alt="Cajun Burgers"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Cajun Burgers
                      </h4>
                      <p>
                        Beef mixed with the Holy Trinity of Cajun cooking
                        (onion, celery, green pepper, garlic) and Cajun
                        seasoning. Topped with pepper jack and served on an
                        onion bun. (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Flank Steak and Peaches.JPG"
                      alt="Flank Steak and Peaches"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Flank Steak and Peaches
                      </h4>
                      <p>
                        Marinated flank steaks served with grilled peaches. One
                        of the best ways to taste the flavors of the season!
                        (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Chickpea and Quinoa Bowls.JPG"
                      alt="Chickpea and Quinoa Bowls"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Chickpea and Quinoa Bowls
                      </h4>
                      <p>
                        Creamy, tomato-y chickpeas top quinoa for a quick and
                        delicious dinner. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Sweet Potato and Black Bean Tacos.JPG"
                      alt="Sweet Potato and Black Bean Tacos"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Sweet Potato and Black Bean Tacos
                      </h4>
                      <p>
                        Sweet potatoes and beans make a great savory taco
                        filling. Comes with corn tortillas. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-08/web_Three Tomato Risotto.JPG"
                      alt="Three Tomato Risotto"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Three Tomato Risotto
                      </h4>
                      <p>
                        Three kinds of tomatoes create the perfect summer pasta
                        dish. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-08/web_Thai Chicken Wraps.JPG"
                      alt="Thai Chicken Wraps"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>Thai Chicken Wraps</h4>
                      <p>
                        Chicken and veggies are tossed with a savory peanut
                        sauce. Can be made with or without chicken. Comes with
                        wraps. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-08/web_Enchilada Stuffed Zucchini.JPG"
                      alt="Enchilada Stuffed Zucchini"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>Enchilada Stuffed Zucchini</h4>
                      <p>
                        Chicken and enchilada sauce are stuffed into zucchini
                        and topped with cheese for a tasty veggie filled meal.
                        Can be made with or without chicken. (Slow cooker then
                        baked)
                      </p>
                    </div>
                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
