<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>January 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    <ul>
                        <li>Beef Satay Noodles</li>
                        <li>Beef on Rice</li>
                        <li>Honey Garlic Chicken</li>
                        <li>Ham and Pineapple Kabobs</li>
                        <li>Smothered Chile Colorado Burritos</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li>Chicken Curry</li>
                        <li>Sweet and Sour BBQ Meatballs</li>
                        <li>Brown Sugar Meatloaf</li>
                        <li>Lime Shredded Pork</li>
                        <li>Chicken Chili</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="#" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>