<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">October 2019</h3>
                <ul class="menu-list">
                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Honey Lime Chicken with Butternut Squash.JPG"
                      alt="Honey Lime Chicken with Butternut Squash"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Honey Lime Chicken with Butternut Squash
                      </h4>
                      <p>
                        The perfect blend of squash, chicken and seasonings.
                        Served over rice. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Apple Cider Pulled Chicken.JPG"
                      alt="Apple Cider Pulled Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Apple Cider Pulled Chicken
                      </h4>
                      <p>
                        My favorite shredded chicken sandwich. Comes with
                        sourdough, cheddar, and veggies. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Enchilada Stuffed Chicken.JPG"
                      alt="Enchilada Stuffed Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Enchilada Stuffed Chicken
                      </h4>
                      <p>
                        Chicken stuffed with green chile and tomatoes and
                        covered with enchilada sauce. Served with sautéed
                        zucchini, corn and chiles. (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Spicy Pork Burrito Bowls.JPG"
                      alt="Spicy Pork Burrito Bowls"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Spicy Pork Burrito Bowls
                      </h4>
                      <p>
                        Pork and veggies seasoned to your taste. Add some rice
                        and you have the perfect burrito bowl! Comes with rice
                        and cheese. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Cuban Sandwiches.JPG"
                      alt="Cuban Sandwiches"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Cuban Sandwiches
                      </h4>
                      <p>
                        Back by popular demand! Pork is slow cooked with citrus
                        and herbs all day. Add ham and Swiss and you have an
                        amazing sandwich. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Italian Stuffed Zucchini.JPG"
                      alt="Italian Stuffed Zucchini"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Italian Stuffed Zucchini
                      </h4>
                      <p>
                        Zucchini boats filled with flavorful meat sauce. Topped
                        with mozzarella and baked until golden brown and
                        delicious. (Stovetop then oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Red Wine Roast with Creamy Polenta and Roasted Radishes.JPG"
                      alt="Red Wine Roast with Creamy Polenta and Roasted Radishes"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Red Wine Roast with Creamy Polenta and Roasted Radishes
                      </h4>
                      <p>
                        Herbed roast cooked in red wine. Perfect for Sunday
                        dinner and no one has to know it took you less than half
                        an hour to make! (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Penne alla Vodka.JPG"
                      alt="Penne alla Vodka"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Penne alla Vodka
                      </h4>
                      <p>
                        A creamy tomato sauce is mixed with penne for one of my
                        favorite pasta dishes. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_BBQ Tacos.JPG"
                      alt="BBQ Tacos"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        BBQ Tacos
                      </h4>
                      <p>
                        A twist on the usual Mexican flavors. Veggies are mixed
                        with a quick BBQ sauce and stuffed into corn tortillas.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-10/web_Chickpea and Eggplant Curry.JPG"
                      alt="Chickpea and Eggplant Curry"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Chickpea and Eggplant Curry
                      </h4>
                      <p>
                        This delicious curry comes together in no time. Comes
                        with rice. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                        src="/Menu-Images/2019-10/web_Lemon Garlic Roasted Chicken.JPG"
                        alt="Lemon Garlic Roasted Chicken"
                        class="menu-image"
                      /> 
                    <div>
                      <h4>
                        Lemon Garlic Roasted Chicken
                      </h4>
                      <p>Juicy, roasted chicken and veggies. (Oven)</p>
                    </div>
                  </li>

                  <li>
                    <img
                        src="/Menu-Images/2019-10/web_Korean Beef.JPG"
                        alt="Korean Beef"
                        class="menu-image"
                      />
                    <div>
                      <h4>
                        Korean Beef
                      </h4>
                      <p>
                        Tender shredded beef served over rice with veggies.
                        (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-10/web_Colache.JPG"
                      alt="Colache"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Colache
                      </h4>
                      <p>
                        A classic Mexican dish turned into a hearty fall stew.
                        Comes with rice. (Slow cooker)
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
