<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">September 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="menu-list">

                        <li>
                            <img src="/Menu-Images/2018-09/web_Chicken Teriyaki.JPG" alt="Chicken Teriyaki" class="menu-image" />
                            <div>
                                <h4>Chicken Teriyaki</h4>
                                <p>Chicken cooked in a homemade teriyaki sauce.  Comes with stir fry veggies and rice. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Balsamic Chicken and Veggies.JPG" alt="Balsamic Chicken and Veggies" class="menu-image" />
                            <div>
                                <h4>Balsamic Chicken and Veggies</h4>
                                <p>Chicken with green beans, carrots and tomatoes tossed with a delicious balsamic sauce. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Squash and Quinoa Soup.JPG" alt="Squash and Quinoa Soup" class="menu-image" />
                            <div>
                                <h4>Squash and Quinoa Soup</h4>
                                <p>Chicken, butternut squash, and quinoa cook into the perfect soup autumn soup. (Slow cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Cilantro Lime Chicken.JPG" alt="Cilantro Lime Chicken" class="menu-image" />
                            <div>
                                <h4>Cilantro Lime Chicken</h4>
                                <p>Pan fried chicken finished with a creamy cilantro lime sauce. Comes with veggies. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Hot Ham and Swiss Croissants.JPG" alt="Hot Ham and Swiss Croissants" class="menu-image" />
                            <div>
                                <h4>Hot Ham and Swiss Croissants</h4>
                                <p>Flakey croissants layered with homemade honey mustard, Swiss and ham. A delicious dinner ready in minutes!  Comes with veggies. (Oven) </p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Green Chile and Cheese Stuffed Pork Chops.JPG" alt="Green Chile and Cheese Stuffed Pork Chops" class="menu-image" />
                            <div>
                                <h4>Green Chile and Cheese Stuffed Pork Chops</h4>
                                <p>Thick, juicy pork chops stuffed with green chiles and cheddar.  Comes with veggies. (Oven)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Italian Stuffed Zucchini.JPG" alt="Italian Stuffed Zucchini" class="menu-image" />
                            <div>
                                <h4>Italian Stuffed Zucchini</h4>
                                <p>Zucchini boats filled with flavorful meat sauce. Topped with mozzarella and baked until golden brown and delicious. (Stovetop then oven)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Barbacoa Beef.JPG" alt="Barbacoa Beef" class="menu-image" />
                            <div>
                                <h4>Barbacoa Beef</h4>
                                <p>Flavorful beef perfect for tacos, nachos or quesadillas! Comes with tortillas and cheese. (Slow cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Beef Tips and Roasted Veggies.JPG" alt="Beef Tips and Roasted Veggies" class="menu-image" />
                            <div>
                                <h4>Beef Tips and Roasted Veggies</h4>
                                <p>Juice, herby pieces of beef served with roasted veggies. A fall favorite! (Oven)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Tortellini Arrabbiata.JPG" alt="Tortellini Arrabbiata" class="menu-image" />
                            <div>
                                <h4>Tortellini Arrabbiata</h4>
                                <p>Veggie filled sauce served over cheese tortellini.  Perfect for Meatless Monday! (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Squash and Quinoa Soup.JPG" alt="Vegan Squash and Quinoa Soup" class="menu-image" />
                            <div>
                                <h4>Vegan Squash and Quinoa Soup</h4>
                                <p>Butternut squash and quinoa cook into the perfect soup autumn soup. (Slow cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Calabacita Tacos.JPG" alt="Calabacita Tacos" class="menu-image" />
                            <div>
                                <h4>Calabacita Tacos</h4>
                                <p>Zucchini, corn, and green chiles meld together into a delicious taco filling. Comes with corn tortillas. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Roasted Veggies with Orzo.JPG" alt="Roasted Veggies with Orzo" class="menu-image" />
                            <div>
                                <h4>Roasted Veggies with Orzo</h4>
                                <p>A great early fall pasta salad. Eggplant, zucchini, tomatoes and more are roasted then mixed with orzo and a light vinaigrette. (Oven and stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-09/web_Three Tomato Risotto.JPG" alt="Three Tomato Risotto" class="menu-image" />
                            <div>
                                <h4>Three Tomato Risotto</h4>
                                <p>Three kinds of tomatoes are mixed into creamy Arborio rice. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <!--<img src="/Menu-Images/2018-09/web_Vegan Italian Stuffed Zucchini.JPG" alt="Vegan Italian Stuffed Zucchini" class="menu-image" /> -->
                            <div>
                                <h4>Vegan Italian Stuffed Zucchini</h4>
                                <p>Mushrooms, carrots, and onions are caramelized then mixed with homemade marinara before being stuffed into zucchini boats. (Stovetop then oven)</p>
                            </div>
                        </li>

                        <li>
                            <!-- <img src="/Menu-Images/2018-09/web_Vegetable Satay Kebobs.JPG" alt="Vegetable Satay Kebobs" class="menu-image" /> -->
                            <div>
                                <h4>Vegetable Satay Kebobs</h4>
                                <p>Veggies receive a quick marinade before being threaded onto skewers and grilled. Comes with couscous. (Grill or stovetop)</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>
