<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">February 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>Monterey Chicken</strong>
                            <ul>
                                <li>Chicken breasts topped with a sweet and tangy homemade BBQ sauce, cheddar and bacon. Comes
                                    with veggies. (Oven)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Brown Sugar Bourbon Chicken</strong>
                            <ul>
                                <li>A great meal for a busy night. Baked chicken is topped with a sweet sauce and served with
                                    rice and veggies. (Oven)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Creole Chicken and Sausage</strong>
                            <ul>
                                <li>Celebrate Mardi Gras in Iowa! A Cajun inspired dish filled with veggies, chicken and sausage.
                                    Served over rice. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Mozzarella Stuffed Turkey Pesto Meatballs</strong>
                            <ul>
                                <li>Back by popular demand! Turkey pesto meatballs filled with mozzarella and baked to perfection.
                                    Served with Awesome bread and veggies.</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Roasted Tomato Soup</strong>
                            <ul>
                                <li>My favorite tomato soup! Tomatoes, onions and garlic roasted until caramelized, then blended
                                    with a little cream for just the right creamy touch. You will need a blender, food processor,
                                    or immersion blender. (Oven)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Hot Italian Sandwiches</strong>
                            <ul>
                                <li>A great pizza inspired sandwich! A trio of meats and duo of cheeses are baked until melty
                                    good. Comes with veggies. (Oven)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Honey Soy Pork</strong>
                            <ul>
                                <li>Fall apart pork loin marinated in honey, soy, and seasonings. Served with buttered noodles
                                    and veggies. (Crockpot)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Bacon Cheddar Turnovers and Scrambled Eggs</strong>
                            <ul>
                                <li>Puff pastry is stuffed with bacon and cheddar then baked until golden brown. Serve it with
                                    veggie loaded scrambled eggs. The perfect breakfast for dinner choice! (Oven)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Beef and Noodles</strong>
                            <ul>
                                <li>Egg noodles are topped with beef that is slow cooked in a savory sauce. Perfect for a cold
                                    night! (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Taco Stuffed Peppers</strong>
                            <ul>
                                <li>Seasoned beef and veggies stuff a pepper. Top with cheese and you have a great way to have
                                    your veggies and tacos all in one bite! (Oven)</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>