<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">March 2019</h3>
                <ul class="menu-list">

                  <li>
                    <img
                      src="/Menu-Images/2019-03/web_Orange Chicken.JPG"
                      alt="Orange Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Orange Chicken
                      </h4>
                      <p>
                        My favorite Chinese meal. Lightly breaded chicken tossed
                        with an orange sauce and served with rice and veggies.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-03/web_Ham and Broccoli Strata.JPG"
                      alt="Ham and Broccoli Strata"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Ham and Broccoli Strata
                      </h4>
                      <p>
                        Layers of flaky croissants, ham, broccoli and cheese.
                        Once baked it is the perfect combination of gooey cheese
                        and crispy croissants. Perfect for breakfast or
                        breakfast for dinner! (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-03/web_Hot Sausage Sandwiches.JPG"
                      alt="Hot Sausage Sandwiches"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Hot Sausage Sandwiches
                      </h4>
                      <p>
                        My favorite sandwich growing up! Italian sausage is
                        cooked with veggies and tomatoes. Spoon it on buns and
                        top with mozzarella. Comes with veggies, buns and
                        cheese. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-03/web_Lomo Saltado.JPG"
                      alt="Lomo Saltado"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Lomo Saltado
                      </h4>
                      <p>
                        One of my favorite dishes from Peru! A delicious stir
                        fry of beef, veggies, and potatoes. Served over rice.
                        Can be made vegetarian. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-03/web_Cheeseburger Gnocchi.JPG"
                      alt="Cheeseburger Gnocchi"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Cheeseburger Gnocchi
                      </h4>
                      <p>
                        Cheeseburger pasta with potato dumplings. The best parts
                        of a burger and fries without the bun! (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-03/web_Quinoa Enchilada Bowls.JPG"
                      alt="Quinoa Enchilada Bowls"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Quinoa Enchilada Bowls
                      </h4>
                      <p>
                        Cheesy, veggie goodness in tasty enchilada sauce.
                        Perfect for Meatless Monday or Taco Tuesday! (Slow
                        Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-03/web_Roasted Veggies with Orzo.JPG"
                      alt="Roasted Veggies with Orzo"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Roasted Veggies with Orzo
                      </h4>
                      <p>
                        A great pasta salad. Eggplant, zucchini, tomatoes and
                        more are roasted then mixed with orzo and a light
                        vinaigrette. (Oven and stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-03/web_Bacon Wrapped Pork Chop.JPG"
                      alt="Bacon Wrapped Pork Chops with Jalapeno Creamed Corn"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Bacon Wrapped Pork Chops with Jalapeno Creamed Corn
                      </h4>
                      <p>
                        Juicy pork chops wrapped in crispy bacon and served with
                        homemade creamed corn. It is the perfect Iowa farm meal!
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-03/web_Albondigas.JPG"
                      alt="Albondigas"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Albondigas
                      </h4>
                      <p>
                        Soup delicious meatballs in a rich, veggie filled broth.
                        (Stovetop or slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-03/web_Green Chile Chicken Pasta.JPG"
                      alt="Green Chile Chicken Pasta"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Green Chile Chicken Pasta
                      </h4>
                      <p>
                        A veggie filled one pot dish. We are combining some of
                        my favorite flavors for a quick and easy family dinner.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-03/web_Pineapple Sage Chicken.JPG"
                      alt="Pineapple Sage Chicken"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Pineapple Sage Chicken
                      </h4>
                      <p>
                        Juicy, citrus marinated chicken served with veggies.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-03/web_Vietnamese Mushroom and Squash Stew.JPG"
                      alt="Vietnamese Mushroom and Squash Stew"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Vietnamese Mushroom and Squash Stew
                      </h4>
                      <p>
                        A flavorful, filling stew. It will be great for the last
                        spring cold snap. (Stovetop or slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-03/web_Sweet Potato and Quinoa Soup.JPG"
                      alt="Sweet Potato and Quinoa Soup"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Sweet Potato and Quinoa Soup
                      </h4>
                      <p>
                        My take on my favorite soup from Peru. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-03/web_Creamy Wild Rice Soup.JPG"
                      alt="Creamy Wild Rice Soup"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Creamy Wild Rice Soup
                      </h4>
                      <p>
                        A delicious veggie filled soup. (Slow Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-03/web_Taco Stuffed Peppers.JPG"
                      alt="Taco Stuffed Peppers"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Taco Stuffed Peppers
                      </h4>
                      <p>
                        Seasoned veggies stuff a pepper. A great way to have
                        veggies and tacos all in one bite! (Oven)
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
