<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">April 2020</h3>

                <ul class="menu-list">
                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Chicken Flautas.JPG"
                      alt="Chicken Flautas"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Chicken Flautas
                      </h4>
                      <p>
                        My favorite Mexican(ish) meal! Cheesy, seasoned chicken
                        wrapped in flour tortillas and baked or fried. (Crockpot
                        then baked or fried)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Cashew Chicken.JPG"
                      alt="Cashew Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Cashew Chicken
                      </h4>
                      <p>
                        Tender bites of chicken are cooked with veggies and
                        cashews then topped with a sweet and tangy sauce. Comes
                        with rice. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Chicken Tinga Tacos.JPG"
                      alt="Chicken Tinga Tacos"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Chicken Tinga Tacos
                      </h4>
                      <p>
                        Chicken and chorizo are mixed together to create a
                        delicious taco filling. Comes with corn tortillas.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Ham and Cheese Pot Pie.JPG"
                      alt="Ham and Cheese Pot Pie"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Ham and Cheese Pot Pie
                      </h4>
                      <p>
                        Creamy ham and Swiss filling is topped with puff pastry
                        to create a quick and filling pot pie. (Stove top then
                        baked)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Cuban Sandwiches.JPG"
                      alt="Cuban Sandwiches"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Cuban Sandwiches
                      </h4>
                      <p>
                        Back by popular demand! Pork is slow cooked with citrus
                        and herbs. Add ham and Swiss and you have an amazing
                        sandwich. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Pork Eggroll Bowls.JPG"
                      alt="Pork Eggroll Bowls"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Pork Eggroll Bowls
                      </h4>
                      <p>
                        All the best parts of eggrolls and none of the mess!
                        Ground pork and veggies topped with crispy wonton
                        strips. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Maple Sausage Breakfast Sandwiches.JPG"
                      alt="Maple Sausage Breakfast Sandwiches"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Maple Sausage Breakfast Sandwiches
                      </h4>
                      <p>
                        Make your own sausage patties for these delicious
                        breakfast sandwiches. Comes with eggs, cheese, English
                        muffins, and hash browns. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Sriracha and Cheddar Juicy Lucy.JPG"
                      alt="Sriracha and Cheddar Juicy Lucy"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Sriracha and Cheddar Juicy Lucy
                      </h4>
                      <p>
                        Cheddar stuffed burgers with a little (optional) kick.
                        Comes with buns and veggies. (Grilled or stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Greek Orzo.JPG"
                      alt="Greek Orzo (Manestra)"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Greek Orzo (Manestra)
                      </h4>
                      <p>
                        Beef and tomatoes are cooked with orzo in my take on
                        this classic Greek comfort food dish. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-04/web_Meatball Parmesan.JPG"
                      alt="Meatball Parmesan"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Meatball Parmesan
                      </h4>
                      <p>
                        Juicy Italian flavored meatballs are baked with marinara
                        and mozzarella. Comes with awesome bread and veggies.
                        (Oven)
                      </p>
                    </div>
                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% if (config.holiday_sides) { %> <%- partial('_partial/holiday-sides') %>
      <% } %> <% if (config.gifts_in_a_jar) { %> <%-
      partial('_partial/gifts-in-a-jar') %> <% } %>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
