<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">January 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>Smothered Chile Colorado Burritos</strong>
                            <ul>
                                <li>A spicy way to start your year! Seasoned beef and beans fill flour tortillas. Top with cheese
                                    and you have a great meal. Can be made vegetarian. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Ethan’s Noodles (aka Beef Satay Noodles)</strong>
                            <ul>
                                <li>Rice noodles, ground beef and veggies tossed in a peanut sauce. This is my son’s favorite
                                    meal. Can be made vegetarian. (Stovetop)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Sweet and Sour BBQ Meatballs</strong>
                            <ul>
                                <li>A fun twist on the usual sweet and sour meal. Juicy meatballs are slow cooked with pineapple
                                    and veggies and served over rice. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Chicken and Noodles</strong>
                            <ul>
                                <li>A comfort food favorite! Chicken slow cooked in seasoned broth. Add egg noodles and corn
                                    and you have a great meal for a chilly day. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Honey Garlic Chicken</strong>
                            <ul>
                                <li>A quick, flavorful meal for a busy night. Diced chicken is topped with a sticky sweet sauce
                                    and served with rice and veggies. (Stovetop)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Southwestern Chicken with Cilantro Lime Rice</strong>
                            <ul>
                                <li>Seasoned chicken and veggies served over flavorful rice. Can be made vegetarian. (Stovetop)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Cilantro Lime Pork</strong>
                            <ul>
                                <li>I love pork and citrus together. This time we throw in some cilantro and cumin and at the
                                    end of a long day, you will have amazing tacos ready to eat. Comes with corn tortillas
                                    and cheese. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Peach Bourbon Pork</strong>
                            <ul>
                                <li>Juicy pork slow cooked all day. Served with veggies and rolls. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Hamballs</strong>
                            <ul>
                                <li>My great-aunt’s hamballs brought to you! Nothing is better than an old family recipe and
                                    I am so excited to share it with you! Comes with veggies. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Black Bean Soup</strong>
                            <ul>
                                <li>Veggie overload! Black beans slow cooked with all the veggies. It is the perfect bowl of
                                    soup for a cold night. Vegetarian. (Slow cooker)</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>