<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>July 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li><strong>Grilled Flank Steak with Peaches</strong>
                            <ul>
                                <li>Marinated flank steaks served with grilled peaches. One of the best ways to taste the flavors
                                    of the season! (Grilled)</li>
                            </ul>
                        </li>

                        <li><strong>Philly Cheesesteak Stuffed Peppers</strong>
                            <ul>
                                <li>Bell peppers stuffed with beef and onions then topped with provolone. (Stovetop then bake)</li>
                            </ul>
                        </li>

                        <li><strong>Cajun Burgers</strong>
                            <ul>
                                <li>Beef mixed with the Holy Trinity of Cajun cooking (onion, celery, green pepper, garlic) and
                                    Cajun seasoning. Topped with pepper jack and served on an onion bun. (Grilled)</li>
                            </ul>
                        </li>

                        <li><strong>Beef Burger with Pimento Cheese</strong>
                            <ul>
                                <li>Juicy burgers topped with melty pimento cheese (cheddar and peppers). Comes with buns. (Grilled)</li>
                            </ul>
                        </li>

                        <li><strong>Salsa Verde Chicken</strong>
                            <ul>
                                <li>Slow cooked chicken with salsa verde. Served in corn tortillas. Soon to become a Taco Tuesday
                                    favorite! (Slow cooker)</li>
                            </ul>
                        </li>

                        <li><strong>Roasted Chicken and Veggies</strong>
                            <ul>
                                <li>A one pan wonder! Juicy chicken roasted with a bounty of seasonal veggies! (Grill or oven)</li>
                            </ul>
                        </li>

                        <li><strong>Turkey Burger and Baked Beans</strong>
                            <ul>
                                <li>Juicy turkey burgers and slow cooker baked beans. Perfect for the end of summer BBQ! (Grill
                                    and slow cooker)</li>
                            </ul>
                        </li>

                        <li><strong>Chile Rubbed Pork Chops with Southwestern Black Bean and Corn Salad</strong>
                            <ul>
                                <li>Grilled, spiced pork chops served with a grilled veggie salad. (Grill)</li>
                            </ul>
                        </li>

                        <li><strong>Pork, Corn and Zucchini Enchiladas</strong>
                            <ul>
                                <li>Pork and veggies slow cooked to create a delicious enchilada filling. Then fill tortillas
                                    and smother them with cheese. It is a great dinner using lots of seasonal veggies. (Slow
                                    cooker then baked)</li>
                            </ul>
                        </li>

                        <li><strong>Teriyaki Pork</strong>
                            <ul>
                                <li>Slow cooked pork, veggies and pineapple with a luscious homemade teriyaki sauce. Comes with
                                    rice. (Slow cooker)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="monthly-menu-header text-center">Burger Bonanza!</h3>
                    <ul>
                        <li>
                            <strong>Double Double Bacon Cheddar Burger</strong>
                            <ul>
                                <li>Beef burger mixed with bacon and cheddar then topped with more bacon and cheddar. Comes with
                                    buns.
                                </li>
                            </ul>
                        </li>
                        <li>

                            <strong>Burger Mignon</strong>
                            <ul>
                                <li>Beef burger mixed with cheddar, blue cheese and seasonings. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Italian Meatball Burger</strong>
                            <ul>
                                <li>Beef and Italian sausage burger seasoned and stuffed with mozzarella. Comes with marinara
                                    and garlic buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Green Chile Cheeseburger</strong>
                            <ul>
                                <li>Seasoned beef burger. Topped with cheddar and roasted green chiles. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Buffalo Chicken Burger</strong>
                            <ul>
                                <li>Chicken burger mixed with buffalo sauce and seasonings. Topped with blue cheese crumbles
                                    and/or provolone. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Western Chicken Burger</strong>
                            <ul>
                                <li>Chicken burger mixed with cheddar, jalapeno, and bacon. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Mediterranean Turkey Burger</strong>
                            <ul>
                                <li>Turkey burger mixed with spinach, feta, and sun dried tomatoes. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Turkey Apple Cheddar Burger</strong>
                            <ul>
                                <li>Turkey mixed with apples, cheddar and spices. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Cuban Pork Burger</strong>
                            <ul>
                                <li>Deliciously seasoned pork burger served on a crusty bun with ham and swiss cheese.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Triple Pork Burger</strong>
                            <ul>
                                <li>Seasoned pork and ground beef burger topped with ham, bacon, cheddar, and caramelized onions.
                                    Comes with onion buns. </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="monthly-menu-header text-center">Gifts in a Jar!</h3>
                    <h4 class="monthly-menu-header text-center">$7 each</h4>
                    <p class="text-center">Pick from Brownies, Reese’s peanut butter cookie, and/or S’more bars. Great client, teacher, or hostess
                        gifts!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>