<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">May 2019</h3>
                <ul class="menu-list">

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Chicken Burrito Bowls.JPG"
                      alt="Chicken Burrito Bowls"
                      class="menu-image"
                    />
                    <div>
                      <h4>Chicken Burrito Bowls</h4>
                      <p>
                        Shredded chicken and veggies top rice for a quick and
                        delicious dinner. (Slow Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Honey Chicken Tenders.JPG"
                      alt="Honey Chicken Tenders"
                      class="menu-image"
                    />
                    <div>
                      <h4>Honey Chicken Tenders</h4>
                      <p>
                        Sweet chicken tenders baked to perfection. Comes with
                        veggies. (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Mediterranean Turkey Burger.JPG"
                      alt="Mediterranean Turkey Burger"
                      class="menu-image"
                    />
                    <div>
                      <h4>Mediterranean Turkey Burger</h4>
                      <p>
                        Juicy turkey burger mixed with spinach, sun dried
                        tomatoes, and feta. Comes with buns and veggies. (Grill
                        or stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Balsamic Honey Pulled Pork.JPG"
                      alt="Balsamic Honey Pulled Pork"
                      class="menu-image"
                    />
                    <div>
                      <h4>Balsamic Honey Pulled Pork</h4>
                      <p>
                        Pulled pork mixed with a sweet and tangy bbq sauce.
                        Comes with veggies. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Jalapeno Pineapple Pork Tacos.JPG"
                      alt="Jalapeno Pineapple Pork Tacos"
                      class="menu-image"
                    />
                    <div>
                      <h4>Jalapeno Pineapple Pork Tacos</h4>
                      <p>
                        Sweet and spicy pork tacos. Fresh flavors ready when you
                        need it! Comes with corn tortillas and cheese. (Slow
                        cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Italian Pork Roast.JPG"
                      alt="Italian Pork Roast"
                      class="menu-image"
                    />
                    <div>
                      <h4>Italian Pork Roast</h4>
                      <p>
                        Pork roast slow cooked with herbs and tomatoes. Smells
                        amazing and tastes great! Comes with veggies. (Crockpot)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Pizza Burgers.JPG"
                      alt="Pizza Burgers"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pizza Burgers</h4>
                      <p>
                        Homemade burgers that are good grilled or pan cooked.
                        Topped with mozzarella, pepperoni, and marinara. Comes
                        with buns and veggies. (Grilled or stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Philly Stuffed Peppers.JPG"
                      alt="Philly Stuffed Peppers"
                      class="menu-image"
                    />
                    <div>
                      <h4>Philly Stuffed Peppers</h4>
                      <p>
                        Bell peppers stuffed with beef and onions then topped
                        with provolone. (Stovetop then Bake)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Sloppy Joes.JPG"
                      alt="Sloppy Joes"
                      class="menu-image"
                    />
                    <div>
                      <h4>Sloppy Joes</h4>
                      <p>
                        Ground beef is mixed with veggies, spices and tomato
                        sauce for the best homemade Sloppy Joes. It is a great
                        update on a classic. Comes with veggies and buns.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Pasta Primavera.JPG"
                      alt="Pasta Primavera"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pasta Primavera</h4>
                      <p>
                        A fresh spring pasta filled with veggies. A great way to
                        enjoys spring’s bounty. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-05/web_Caprese Risotto.JPG"
                      alt="Caprese Risotto"
                      class="menu-image"
                    />
                    <div>
                      <h4>Caprese Risotto</h4>
                      <p>
                        Creamy risotto is mixed with pesto, tomatoes, and fresh
                        mozzarella. It is a delicious and quick spring dinner.
                        (Stovetop)
                      </p>
                    </div>
                  </li>
                </ul>
              </li>

              <li>
                <h3 class="subheading">June 2019</h3>
                <ul class="menu-list">

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Limoncello Chicken.JPG"
                      alt="Limoncello Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>Limoncello Chicken</h4>
                      <p>Herby, garlicky, lemony grilled chicken and onions. Served with veggies. (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Turkey Pesto Burger.JPG"
                      alt="Turkey Pesto Burger"
                      class="menu-image"
                    />
                    <div>
                      <h4>Turkey Pesto Burger</h4>
                      <p>Mix together turkey and pesto for a juicy, flavorful burger.  Served with fresh mozzarella, buns and veggies.  (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Chicken Fajitas.JPG"
                      alt="Chicken or Portobello Fajitas"
                      class="menu-image"
                    />
                    <div>
                      <h4>Chicken or Portobello Fajitas</h4>
                      <p>Chicken marinated in fresh squeezed juices and seasonings then grilled with peppers and onions for the best fajitas! Comes with tortillas. (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Chicken Fried Cauli-Rice.JPG"
                      alt="Chicken Fried Cauli-rice"
                      class="menu-image"
                    />
                    <div>
                      <h4>Chicken Fried Cauli-rice</h4>
                      <p>Get extra veggies in this tasty take on fried rice. (Stovetop)  
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Mozzarella Stuffed Meatball Burger.JPG"
                      alt="Mozzarella Stuffed Meatball Burgers"
                      class="menu-image"
                    />
                    <div>
                      <h4>Mozzarella Stuffed Meatball Burgers</h4>
                      <p>Beef and Italian sausage burger seasoned and stuffed with mozzarella.  Comes with marinara, awesome bread, and veggies. (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Puerto Rican Shredded Pork with Black Beans.JPG"
                      alt="Puerto Rican Shredded Pork with Black Beans"
                      class="menu-image"
                    />
                    <div>
                      <h4>Puerto Rican Shredded Pork with Black Beans</h4>
                      <p>Juicy, citrus marinated pork served with corn tortillas and black beans. (Crockpot)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Pork Egg Roll Bowl.JPG"
                      alt="Pork Egg Roll Bowl"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pork Egg Roll Bowl</h4>
                      <p>All the best parts of eggrolls and none of the mess! Ground pork and veggies topped with crispy wonton strips. (Stovetop) 
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Veggie Loaded Black Beans and Rice.JPG"
                      alt="Veggie Loaded Black Beans and Rice"
                      class="menu-image"
                    />
                    <div>
                      <h4>Veggie Loaded Black Beans and Rice</h4>
                      <p>Black beans and rice like you have never had them before! It is a great vegan meal. (Stovetop) 
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Pasta with Chickpeas and Garlic Sauce.JPG"
                      alt="Pasta with Chickpea and Garlic Sauce"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pasta with Chickpea and Garlic Sauce</h4>
                      <p>One of my favorite vegan pasta meals. A delicious creamy chickpea sauce is tossed with pasta and cherry tomatoes. (Stovetop) 
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Sweet Potato and Quinoa Salad.JPG"
                      alt="Grilled Sweet Potato and Quinoa Salad"
                      class="menu-image"
                    />
                    <div>
                      <h4>Grilled Sweet Potato and Quinoa Salad</h4>
                      <p>A great summer salad. Grilled sweet potatoes are tossed with quinoa, greens, and dried cranberries. (Grill and stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Pizza Joes.JPG"
                      alt="Pizza Joes"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pizza Joes</h4>
                      <p>Sloppy Joes’ Italian cousin. A blend of beef, Italian sausage and pepperoni are simmered in an Italian flavored sauce. Comes with veggies, buns and mozzarella. (Stovetop) 
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-06/web_Garlic Butter Flank Steak.JPG"
                      alt="Garlic Butter Flank Steak"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>Garlic Butter Flank Steak</h4>
                      <p>This is the perfect meal for your grill. Seasoned flank steak is finished with an herby, garlicky butter sauce. Throw the veggies on the grill next to the steak and it will be a perfect summer meal. (Grill) 
                      </p>
                    </div>
                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
