<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">June 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="menu-list">

                        <li>
                            <img src="/Menu-Images/2018-07/web_Cheddar Bacon Ranch Burgers.JPG" alt="Cheddar Bacon Ranch Burgers" class="menu-image" />
                            <div>
                                <h4>Cheddar Bacon Ranch Burgers</h4>
                                <p>Mix bacon, cheddar and ranch into beef to create the juiciest burgers! Comes with buns and veggies. (Grill)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Broccoli Beef.JPG" alt="Broccoli Beef" class="menu-image" />
                            <div>
                                <h4>Broccoli Beef</h4>
                                <p>Beef cooked in a savory sauce. Served with broccoli and rice. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Lemon Pesto Chicken.JPG" alt="Lemon Pesto Chicken" class="menu-image" />
                            <div>
                                <h4>Lemon Pesto Chicken</h4>
                                <p>Chicken marinated in the bright flavors of summer! Comes with veggies. (Grilled)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Firecracker Chicken.JPG" alt="Firecracker Chicken" class="menu-image" />
                            <div>
                                <h4>Firecracker Chicken</h4>
                                <p>Wake up your taste buds with bite size chicken in a spicy sauce. Comes with veggies. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Western Chicken Burger.JPG" alt="Western Chicken Burger" class="menu-image" />
                            <div>
                                <h4>Western Chicken Burger</h4>
                                <p>Chicken mixed with cheddar, jalapeno, and bacon. Comes with veggies and buns.</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Pork Chops with Blueberry Bourbon BBQ Sauce.JPG" alt="Pork Chops with Blueberry Bourbon BBQ Sauce" class="menu-image" />
                            <div>
                                <h4>Pork Chops with Blueberry Bourbon BBQ Sauce</h4>
                                <p>The most amazing BBQ sauce ever! I serve it with everything, but it is especially tasty with grilled pork chops. Comes with veggies. (Grilled and stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Chile Rubbed Pork Chops with Black Bean Salad.JPG" alt="Chile Rubbed Pork Chops with Black Bean Salad" class="menu-image" />
                            <div>
                                <h4>Chile Rubbed Pork Chops with Black Bean Salad</h4>
                                <p>Grilled, spiced pork chops served with a grilled veggie salad. (Grill)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Tacos al Pastor.JPG" alt="Tacos al Pastor" class="menu-image" />
                            <div>
                                <h4>Tacos al Pastor</h4>
                                <p>Tender pork slow cooked for the perfect tacos. Comes with tortillas. (Slow cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Ranch Pork Chops.JPG" alt="Ranch Pork Chops" class="menu-image" />
                            <div>
                                <h4>Ranch Pork Chops</h4>
                                <p>Seasoned pork chops grilled to perfection. Served with veggies. (Grilled)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-07/web_Cheddar Stuffed Bacon Wrapped Hot Dogs.JPG" alt="Cheddar Stuffed, Bacon Wrapped Hot Dogs" class="menu-image" />
                            <div>
                                <h4>Cheddar Stuffed, Bacon Wrapped Hot Dogs</h4>
                                <p>Go all out with a gourmet dog! Comes with buns and veggies. (Grilled)</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>