<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>December 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>Beef Stew</strong>
                            <ul>
                                <li>The ultimate winter comfort meal! A delicious, veggie loaded stew slow cooked all day. Comes
                                    with fresh baked bread. Your house will smell amazing for days! (Slow cooker and oven)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Spicy Apple Glazed Meatballs</strong>
                            <ul>
                                <li>A sticky, sweet glaze to top juicy meatballs. Comes with rice and veggies. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Texas Style Brisket</strong>
                            <ul>
                                <li>Brisket cooked low and slow until it falls apart. Makes an amazing sandwich or baked potato
                                    topping! Comes with rolls and veggies. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Chicken Taco Soup</strong>
                            <ul>
                                <li>A flavorful, veggie loaded soup. It is my go-to for a filling meal in cold weather. Comes
                                    with cheese. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Honey Sriracha Chicken</strong>
                            <ul>
                                <li>A little spice to go with a little sweet! This will be your new favorite take-out substitute.
                                    Comes with rice and veggies. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Jamaican Jerk Chicken</strong>
                            <ul>
                                <li>A little taste of the island to hold you over during the cold of winter! Chicken and veggies
                                    served over rice. (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Maple Dijon Chicken</strong>
                            <ul>
                                <li>Delicious baked chicken and veggies. Comes with veggies. (Oven)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Cranberry Pork Roast</strong>
                            <ul>
                                <li>Sweet, juicy pork roast slow cooked. It makes amazing sandwiches! Comes with rolls and veggies.
                                    (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Sausage with Onions and Peppers</strong>
                            <ul>
                                <li>An update to an old standby. Italian sausages cooked all day with veggies. Served over pasta.
                                    (Slow cooker)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Parmesan Honey Pork Roast</strong>
                            <ul>
                                <li>Italian herbs and cheese slow cooked until the roast falls apart. Comes with veggies. (Slow
                                    cooker)</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="text-center">Gifts in a Jar are back
                        <span class="exclamation-font">!</span>
                    </h3>
                    <p>
                        Through December you can make
                        <strong>Hot Cocoa Mix, Pancake Mix, or Monster Cookies</strong>. They are perfect for anyone you need to
                        give a quick, delicious handmade gift! Teachers, friends, service providers, or just because!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>