<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>July 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>Cheddar Bacon Ranch Burgers</strong>
                            <ul>
                                <li>
                                    Juicy beef burgers seasoned with bacon, cheddar and ranch. A flavorful burger that is ready for the grill! Comes with buns.
                                    (Grilled)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Burgers and Bacon Wrapped Jalapeno Poppers</strong>
                            <ul>
                                <li>
                                    Beef burgers with an amazing side! This is one of my favorite jalapeno poppers. I prep the peppers and you stuff them with
                                    cheddar and wrap in bacon. A side that will amaze everyone! Comes with buns. (Grilled)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Broccoli Beef</strong>
                            <ul>
                                <li>
                                    Beef is slow cooked all day. Add broccoli and rice when you get home and you have a Chinese favorite ready faster than delivery!
                                    Comes with broccoli and rice. (Slow Cooker)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Lemon Pesto Chicken</strong>
                            <ul>
                                <li>
                                    Chicken marinated in the bright flavors of summer. Comes with veggies. (Grilled)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Italian Chicken and Grilled Pepper Salad</strong>
                            <ul>
                                <li>
                                    Chicken marinated in Italian flavors and served with the best summer salad. Peppers are grilled and mixed with olive oil
                                    and basil for a light, tasty dish! (Grilled)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Caprese Stuffed Chicken</strong>
                            <ul>
                                <li>
                                    Chicken stuffed with mozzarella, tomatoes, and basil. Comes with veggies (Grilled or baked)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Pork Chops with Blueberry Bourbon BBQ Sauce</strong>
                            <ul>
                                <li>
                                    The most amazing BBQ sauce ever! I serve it with everything, but it is especially tasty with grilled pork chops. Comes with
                                    veggies. (Grilled and stovetop)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Asian Pork Wraps</strong>
                            <ul>
                                <li>
                                    Slow cooked pork wrapped in warm flour tortillas. Comes with flour tortillas and sesame seeds. (Slow Cooker)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Cheddar Stuffed, Bacon Wrapped Hot Dogs</strong>
                            <ul>
                                <li>
                                    Go all out with a gourmet dog! Comes with buns and veggies. (Grilled)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Brown Sugar Balsamic Pork</strong>
                            <ul>
                                <li>
                                    Herb rubbed pork slow cooked all day and topped with
                                    a flavorful balsamic glaze. Comes with veggies. (Slow Cooker)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="monthly-menu-header text-center">Burger Bonanza!</h3>
                    <ul>
                        <li>
                            <strong>Double Double Bacon Cheddar Burger</strong>
                            <ul>
                                <li>Beef burger mixed with bacon and cheddar then topped with more bacon and cheddar. Comes with
                                    buns.
                                </li>
                            </ul>
                        </li>
                        <li>

                            <strong>Burger Mignon</strong>
                            <ul>
                                <li>Beef burger mixed with cheddar, blue cheese and seasonings. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Italian Meatball Burger</strong>
                            <ul>
                                <li>Beef and Italian sausage burger seasoned and stuffed with mozzarella. Comes with marinara
                                    and garlic buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Green Chile Cheeseburger</strong>
                            <ul>
                                <li>Seasoned beef burger. Topped with cheddar and roasted green chiles. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Buffalo Chicken Burger</strong>
                            <ul>
                                <li>Chicken burger mixed with buffalo sauce and seasonings. Topped with blue cheese crumbles
                                    and/or provolone. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Western Chicken Burger</strong>
                            <ul>
                                <li>Chicken burger mixed with cheddar, jalapeno, and bacon. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Mediterranean Turkey Burger</strong>
                            <ul>
                                <li>Turkey burger mixed with spinach, feta, and sun dried tomatoes. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Turkey Apple Cheddar Burger</strong>
                            <ul>
                                <li>Turkey mixed with apples, cheddar and spices. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Cuban Pork Burger</strong>
                            <ul>
                                <li>Deliciously seasoned pork burger served on a crusty bun with ham and swiss cheese.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Triple Pork Burger</strong>
                            <ul>
                                <li>Seasoned pork and ground beef burger topped with ham, bacon, cheddar, and caramelized onions.
                                    Comes with onion buns. </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="monthly-menu-header text-center">Gifts in a Jar!</h3>
                    <h4 class="monthly-menu-header text-center">$7 each</h4>
                    <p class="text-center">Pick from Brownies, Reese’s peanut butter cookie, and/or S’more bars. Great client, teacher, or hostess
                        gifts!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>