<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="menu-carousel" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#menu-carousel" data-slide-to="0"></li>
                            <li data-target="#menu-carousel" data-slide-to="1" class="active"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <h3 class="subheading">October 2018</h3>
                                <ul class="menu-list">

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_BBQ Bacon Onion Bombs.JPG" alt="BBQ Bacon Onion Bombs" class="menu-image" />
                                        <div>
                                            <h4>BBQ Bacon Onion Bombs</h4>
                                            <p>Homemade meatballs wrapped in onion wrapped in bacon. Soon to be your fall favorite! Comes with veggies. (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Three Bean Chili.JPG" alt="Three Bean Chili with Sausage" class="menu-image" />
                                        <div>
                                            <h4>Three Bean Chili with Sausage</h4>
                                            <p>A hearty chili that is ready when you get home. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Red Wine Roast with Creamy Polenta and Roasted Radishes.JPG" alt="Red Wine Roast with Creamy Polenta and Roasted Radishes" class="menu-image" />
                                        <div>
                                            <h4>Red Wine Roast with Creamy Polenta and Roasted Radishes</h4>
                                            <p>Herb rubbed roast cooked in red wine. Perfect for Sunday dinner and no one has to know it took you less than half an hour to make! (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Italian Breakfast Bake.JPG" alt="Italian Breakfast Bake" class="menu-image" />
                                        <div>
                                            <h4>Italian Breakfast Bake</h4>
                                            <p>Layers of hash browns, ham, salami, veggies, mozzarella and eggs are baked into a delicious casserole. It is a great dish for a chilly autumn morning or evening! (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Honey Lime Chicken with Butternut Squash.JPG" alt="Honey Lime Chicken with Butternut Squash" class="menu-image" />
                                        <div>
                                            <h4>Honey Lime Chicken with Butternut Squash</h4>
                                            <p>The perfect blend of squash, chicken and seasonings. Served over rice. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Apple Cider Pulled Chicken.JPG" alt="Apple Cider Pulled Chicken" class="menu-image" />
                                        <div>
                                            <h4>Apple Cider Pulled Chicken</h4>
                                            <p>Juicy shredded chicken that makes a great sandwich. Comes with sourdough, cheddar, and veggies. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Spicy Pork Burrito Bowls.JPG" alt="Spicy Pork Burrito Bowls" class="menu-image" />
                                        <div>
                                            <h4>Spicy Pork Burrito Bowls</h4>
                                            <p>Pork and veggies seasoned to your taste. Add some rice and you have the perfect burrito bowl!  Comes with rice and cheese. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Cuban Sandwiches.JPG" alt="Cuban Sandwiches" class="menu-image" />
                                        <div>
                                            <h4>Cuban Sandwiches</h4>
                                            <p>Back by popular demand! Pork is slow cooked with citrus and herbs all day. Add ham and Swiss and you have an amazing sandwich. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Penne alla Vodka.JPG" alt="Penne alla Vodka" class="menu-image" />
                                        <div>
                                            <h4>Penne alla Vodka</h4>
                                            <p>A creamy tomato sauce is mixed with penne for one of my favorite pasta dishes. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Creamy Pumpkin Soup.JPG" alt="Creamy Pumpkin Soup" class="menu-image" />
                                        <div>
                                            <h4>Creamy Pumpkin Soup</h4>
                                            <p>One of my favorite soups! It is the perfect flavor of fall. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Three Bean Chili.JPG" alt="Three Bean Chili" class="menu-image" />
                                        <div>
                                            <h4>Three Bean Chili</h4>
                                            <p>A hearty chili that is ready when you get home. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_BBQ Tacos.JPG" alt="BBQ Tacos" class="menu-image" />
                                        <div>
                                            <h4>BBQ Tacos</h4>
                                            <p>A twist on the usual Mexican flavors. Veggies are mixed with a quick BBQ sauce and stuffed into corn tortillas. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Chickpea and Eggplant Curry.JPG" alt="Chickpea and Eggplant Curry" class="menu-image" />
                                        <div>
                                            <h4>Chickpea and Eggplant Curry</h4>
                                            <p>This delicious curry comes together in no time. Comes with rice. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Peanut and Veggie Noodles.JPG" alt="Peanut and Veggie Noodles" class="menu-image" />
                                        <div>
                                            <h4>Peanut and Veggie Noodles</h4>
                                            <p>Soba noodles and stir fry veggies are tossed with a creamy peanut butter sauce. (Stovetop)</p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="item active">
                                <h3 class="subheading">November 2018</h3>
                                <ul class="menu-list">

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Sweet and Spicy Bacon Wrapped Chicken.JPG" alt="Sweet and Spicy Bacon Wrapped Chicken"
                                            class="menu-image" />
                                        <div>
                                            <h4>Sweet and Spicy Bacon Wrapped Chicken</h4>
                                            <p>The name says it all! Bacon wrapped chicken seasoned with a little sweet and a little spice. Comes with veggies. (Baked)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Shredded Mexican Chicken with Rice.JPG" alt="Shredded Mexican Chicken with Rice"
                                            class="menu-image" />
                                        <div>
                                            <h4>Shredded Mexican Chicken with Rice</h4>
                                            <p>Rice bowls topped with the most flavorful chicken. (Slow Cooker)</p>
                                        </div>
                                    </li> 

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Chicken with Sun Dried Tomatoes and Spinach.JPG" alt="Chicken with Sun Dried Tomatoes and Spinach"
                                            class="menu-image" />
                                        <div>
                                            <h4>Chicken with Sun Dried Tomatoes and Spinach</h4>
                                            <p>Baked chicken topped with spinach, tomatoes, and cheese. A great way to add more veggies to your day! Comes with veggies. (Baked)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Sweet Potato Turkey Hash.JPG" alt="Sweet Potato Turkey Hash"
                                            class="menu-image" />
                                        <div>
                                            <h4>Sweet Potato Turkey Hash</h4>
                                            <p>This is one of my favorite ways to use turkey! Sautéed sweet potatoes and turkey slightly sweetened with maple syrup. Perfect for breakfast or dinner! (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Asian Five Spice Meatballs.JPG" alt="Asian Five Spice Meatballs"
                                            class="menu-image" />
                                        <div>
                                            <h4>Asian Five Spice Meatballs</h4>
                                            <p>Great Asian flavored meatballs, slow cooked all day. Comes with rice and veggies. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Day Before Roast.JPG" alt="Day Before Roast"
                                            class="menu-image" />
                                        <div>
                                            <h4>Day Before Roast</h4>
                                            <p>Delicious roast slow cooked until it falls apart. Makes the best roast beef sandwiches with au jus! Comes with rolls and veggies. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Apple Glazed Pork with Cheesy Grits.JPG" alt="Apple Glazed Pork with Cheesy Grits"
                                            class="menu-image" />
                                        <div>
                                            <h4>Apple Glazed Pork with Cheesy Grits</h4>
                                            <p>Slightly sweet, seasoned pork served over cheesy grits. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Sausage Cranberry Ragu.JPG" alt="Sausage Cranberry Ragu"
                                            class="menu-image" />
                                        <div>
                                            <h4>Sausage Cranberry Ragu</h4>
                                            <p>A fun seasonal dinner. This pasta sauce is a great combination of fall flavors. Comes with pasta. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Pork Chops with Cider Pan Sauce.JPG" alt="Pork Chops with Cider Pan Sauce"
                                            class="menu-image" />
                                        <div>
                                            <h4>Pork Chops with Cider Pan Sauce</h4>
                                            <p>Juicy pork chops are finished with a sweet and savory pan sauce. Comes with veggies. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Corn Chowder.JPG" alt="Corn Chowder"
                                            class="menu-image" />
                                        <div>
                                            <h4>Corn Chowder</h4>
                                            <p>I love soup and this one has moved to the top of my favorites list! Slow cooked all day with a touch of cream or coconut milk added at the end. (Slow cooker or stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Black Bean and Butternut Squash Stew.JPG" alt="Black Bean and Butternut Squash Stew"
                                            class="menu-image" />
                                        <div>
                                            <h4>Black Bean and Butternut Squash Stew</h4>
                                            <p>A delicious, hearty stew. Perfect for a cozy evening at home. (Slow cooker or stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Eggplant Sauce with Pasta.JPG" alt="Eggplant Sauce with Pasta"
                                            class="menu-image" />
                                        <div>
                                            <h4>Eggplant Sauce with Pasta</h4>
                                            <p>A delicious, chunky pasta sauce. (Stovetop)</p>
                                        </div>
                                    </li> 

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Golden Coconut Lentil Soup.JPG" alt="Golden Coconut Lentil Soup"
                                            class="menu-image" />
                                        <div>
                                            <h4>Golden Coconut Lentil Soup</h4>
                                            <p>A great soup filled with bright flavors. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <!-- <img src="/Menu-Images/2018-11/web_Harissa Veggie Bowl.JPG" alt="Harissa Veggie Bowl"
                                            class="menu-image" /> -->
                                        <div>
                                            <h4>Harissa Veggie Bowl</h4>
                                            <p>A great selection of fall veggies, roasted and served over quinoa. (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <!-- <img src="/Menu-Images/2018-11/web_Roasted Veggie Tacos.JPG" alt="Roasted Veggie Tacos"
                                            class="menu-image" /> -->
                                        <div>
                                            <h4>Roasted Veggie Tacos</h4>
                                            <p>The best tacos filled with veggies and flavor! (Oven)</p>
                                        </div>
                                    </li>
                                </ul>

                            </div>                            
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#menu-carousel" role="button">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#menu-carousel" role="button">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>