<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>March 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>French onion soup</strong>
                            <ul>
                                <li>Caramelized onions with beef broth and seasonings. Served with croutons and Swiss cheese.</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Green Chile Chicken Tacos</strong>
                            <ul>
                                <li>Chicken with green chiles, tomatoes and seasonings. Comes with corn tortillas and cheese.
                                    Delicious in tacos, nachos or a salad!</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Ham, Chicken, and Swiss Sandwiches</strong>
                            <ul>
                                <li>Tasty sandwiches served with a quick sautéed sugar snap peas.</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Chicken Tikka Masala</strong>
                            <ul>
                                <li>Seasoned chicken in a creamy tomato sauce served with rice.</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Hot Sausage Sandwiches</strong>
                            <ul>
                                <li>Italian sausage in a tomato sauce served with buns, mozzarella cheese and veggies. You control
                                    the heat!</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Ham and Broccoli Strata</strong>
                            <ul>
                                <li>Layers of croissants, ham, broccoli, and cheddar. Great for breakfast or breakfast for dinner!</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Bacon wrapped pork chops</strong>
                            <ul>
                                <li>As good as it sounds! Served with creamed corn.</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Spaghetti Stuffed Meatball</strong>
                            <ul>
                                <li>Spaghetti inside a meatball. A fun twist on a classic. Served with bread and veggies.</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Lomo Saltado</strong>
                            <ul>
                                <li>Peruvian beef, pepper, onion, and potato stir fry. Served with rice. One of my personal favorites!</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Cheeseburger Gnocchi</strong>
                            <ul>
                                <li>Cheeseburger pasta with potato dumplings. The best parts of a burger and fries without the
                                    bun!</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>