<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">April 2019</h3>
                <ul class="menu-list">

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Chicken Flautas.JPG"
                      alt="Chicken Flautas"
                      class="menu-image"
                    />
                    <div>
                      <h4>Chicken Flautas</h4>
                      <p>
                        My favorite Mexican(ish) meal! Cheesy, seasoned chicken
                        wrapped in flour tortillas and baked or fried. (Crockpot
                        then baked or fried)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Cheesy Chicken and Rice.JPG"
                      alt="Cheesy Chicken and Rice"
                      class="menu-image"
                    />
                    <div>
                      <h4>Cheesy Chicken and Rice</h4>
                      <p>
                        Delicious chicken, veggie and rice dish. A one pot dish
                        that covers all the bases! (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Lemon Turkey with Green Beans.JPG"
                      alt="Lemon Turkey with Green Beans"
                      class="menu-image"
                    />
                    <div>
                      <h4>Lemon Turkey with Green Beans</h4>
                      <p>
                        Sliced turkey breast and green beans tossed with a
                        citrus pan sauce. A great way to have turkey not at
                        Thanksgiving. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Carnitas.JPG"
                      alt="Carnitas"
                      class="menu-image"
                    />
                    <div>
                      <h4>Carnitas</h4>
                      <p>
                        Slow cooked deliciousness is the best way to describe
                        thee amazing tacos. Pork is slow cooked all day then
                        broiled or pan fried to get crispy edges. My favorite
                        way to make tacos! (Slow cooker then oven or stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Creamy Tuscan Tortellini.JPG"
                      alt="Creamy Tuscan Tortellini"
                      class="menu-image"
                    />
                    <div>
                      <h4>Creamy Tuscan Tortellini</h4>
                      <p>
                        Sausage and tortellini in a creamy tomato sauce,
                        finished with a handful of spinach. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Cuban Sandwiches.JPG"
                      alt="Cuban Sandwiches"
                      class="menu-image"
                    />
                    <div>
                      <h4>Cuban Sandwiches</h4>
                      <p>
                        Back by popular demand! Pork is slow cooked with citrus
                        and herbs all day. Add ham and Swiss and you have an
                        amazing sandwich. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Sriracha and Cheddar Juicy Lucy.JPG"
                      alt="Sriracha and Cheddar Juicy Lucy"
                      class="menu-image"
                    />
                    <div>
                      <h4>Sriracha and Cheddar Juicy Lucy</h4>
                      <p>
                        Cheddar stuffed burgers with a little (optional) kick.
                        Comes with buns and veggies. (Grilled or stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Italian Beef Sandwiches.JPG"
                      alt="Italian Beef Sandwiches"
                      class="menu-image"
                    />
                    <div>
                      <h4>Italian Beef Sandwiches</h4>
                      <p>
                        My take on a Chicago favorite. Slow cooked beef is made
                        into amazing sandwiches. Comes with rolls and veggies.
                        (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Sweet Potato and Chickpea Curry.JPG"
                      alt="Sweet Potato and Chickpea Curry"
                      class="menu-image"
                    />
                    <div>
                      <h4>Sweet Potato and Chickpea Curry</h4>
                      <p>
                        An amazing vegetarian curry finished with fresh spinach
                        and coconut milk. Comes with rice. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-04/web_Baked Oatmeal.JPG"
                      alt="Baked Oatmeal"
                      class="menu-image"
                    />
                    <div>
                      <h4>Baked Oatmeal</h4>
                      <p>
                        Oatmeal is mixed with blueberries and peaches then
                        baked. One of my favorite quick and easy breakfasts. (Baked)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-04/web_Stir Fried Quinoa and Veggies.JPG"
                      alt="Stir Fried Quinoa and Veggies"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>Stir Fried Quinoa and Veggies</h4>
                      <p>
                        A new twist of fried rice. Quinoa is fried with veggies
                        and eggs. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
<!--                    <img
                      src="/Menu-Images/2019-04/web_Ham and Cheese Pot Pie.JPG"
                      alt="Ham and Cheese Pot Pie"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>Ham and Cheese Pot Pie</h4>
                      <p>
                        Creamy ham and Swiss filling is topped puff pastry to
                        create a quick and filling pot pie. (Stove top then
                        baked)
                      </p>
                    </div>
                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
