<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">August 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="menu-list">

                        <li>
                            <img src="/Menu-Images/2018-08/web_Brown Sugar Balsamic Pork.JPG" alt="Brown Sugar Balsamic Pork" class="menu-image" />
                            <div>
                                <h4>Brown Sugar Balsamic Pork</h4>
                                <p>Herb rubbed pork slow cooked all day and topped with a flavorful balsamic glaze. Comes with
                                    veggies. (Slow Cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Pesto Parmesan Pork Chops.JPG" alt="Pesto Parmesan Pork Chops" class="menu-image" />
                            <div>
                                <h4>Pesto Parmesan Pork Chops</h4>
                                <p>Juicy pork chops smothered in pesto and topped with parmesan. Bake until melty and delicious!
                                    Comes with veggies (Baked or Grilled)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Pork, Corn, and Zucchini Enchiladas.JPG" alt="Pork, Corn, and Zucchini Enchiladas" class="menu-image" />
                            <div>
                                <h4>Pork, Corn, and Zucchini Enchiladas</h4>
                                <p>Pork and veggies slow cooked to create a delicious enchilada filling. Then fill tortillas
                                    and smother them with cheese. It is a great dinner using lots of seasonal veggies. (Slow
                                    cooker then baked)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Cajun Burgers.JPG" alt="Cajun Burgers" class="menu-image" />
                            <div>
                                <h4>Cajun Burgers</h4>
                                <p>Beef mixed with the Holy Trinity of Cajun cooking (onion, celery, green pepper, garlic) and
                                    Cajun seasoning. Topped with pepper jack and served on an onion bun. (Grilled)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Flank Steak and Peaches.JPG" alt="Flank Steak and Peaches" class="menu-image" />
                            <div>
                                <h4>Flank Steak and Peaches</h4>
                                <p>Marinated flank steaks served with grilled peaches. One of the best ways to taste the flavors
                                    of the season! (Grilled) </p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Salsa Verde Chicken.JPG" alt="Salsa Verde Chicken" class="menu-image" />
                            <div>
                                <h4>Salsa Verde Chicken</h4>
                                <p>Slow cooked chicken with salsa verde. Served in corn tortillas. Soon to become a Taco Tuesday
                                    favorite! (Slow cooker) </p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Roasted Chicken and Veggies.JPG" alt="Roasted Chicken and Veggies" class="menu-image" />
                            <div>
                                <h4>Roasted Chicken and Veggies</h4>
                                <p>A one pan wonder! Juicy chicken roasted with a bounty of seasonal veggies! (Grill or oven)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Turkey Apple Cheddar Burgers.JPG" alt="Turkey Apple Cheddar Burgers" class="menu-image" />
                            <div>
                                <h4>Turkey Apple Cheddar Burgers</h4>
                                <p>Turkey is mixed with shredded apples and cheddar for a juicy burger! Comes with buns and
                                    veggies. (Grill)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Sausage and Cheese Bubbles.JPG" alt="Sausage and Cheese Bubbles" class="menu-image" />
                            <div>
                                <h4>Sausage and Cheese Bubbles</h4>
                                <p>A great meal for a lazy morning or a rushed evening! Biscuits filled with sausage and cheese.
                                    Comes with scrambled eggs. (Oven and Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Veggie Pasta.JPG" alt="Veggie Pasta" class="menu-image" />
                            <div>
                                <h4>Veggie Pasta</h4>
                                <p>A one pot pasta dish filled with seasonal veggies! (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Three Sister Enchilada Bowls.JPG" alt="Three Sister Enchilada Bowls" class="menu-image" />
                            <div>
                                <h4>Three Sister Enchilada Bowls</h4>
                                <p>Squash, beans and corn fill this amazing enchilada bowl! (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Chickpea and Quinoa Bowls.JPG" alt="Chickpea and Quinoa Bowls" class="menu-image" />
                            <div>
                                <h4>Chickpea and Quinoa Bowls</h4>
                                <p>Creamy tomato-y chickpeas top quinoa for a quick and delicious dinner. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Roasted Chickpea Gyros.JPG" alt="Roasted Chickpea Gyros" class="menu-image" />
                            <div>
                                <h4>Roasted Chickpea Gyros</h4>
                                <p>Roast chickpeas make a great meat free filling for these quick gyros. (Oven)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Sweet Potato and Black Bean Tacos.JPG" alt="Sweet Potato and Black Bean Tacos" class="menu-image" />
                            <div>
                                <h4>Sweet Potato and Black Bean Tacos</h4>
                                <p>A great meat free taco filling! (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-08/web_Spicy Thai Noodles.JPG" alt="Spicy Thai Noodles" class="menu-image" />
                            <div>
                                <h4>Spicy Thai Noodles</h4>
                                <p>Veggie filled rice noodles are tossed with a spicy sauce. (Stovetop)</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>