<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>June 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>Limoncello Chicken</strong>
                            <ul>
                                <li>Herby, garlicky, lemony grilled chicken and onions. Served with veggies. (Grilled)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Chicken Fajitas</strong>
                            <ul>
                                <li>Chicken marinated in lime and orange juices and seasonings then grilled with peppers and
                                    onions for the best fajitas! Comes with tortillas. (Grilled)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Chicken Pesto Burger</strong>
                            <ul>
                                <li>Mix together chicken and pesto for a juicy, flavorful burger. Served with buns and fresh
                                    mozzarella. (Grilled)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Pepper Steak</strong>
                            <ul>
                                <li>Italian seasoned steak, peppers, and onions slow cooked all day. Served with rice. (Crock
                                    pot)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Spicy Chipotle Burgers</strong>
                            <ul>
                                <li>Beef burgers seasoned with chipotles in adobo and cilantro. Served with buns and mozzarella.
                                    (Grilled)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Asian Beef Tacos</strong>
                            <ul>
                                <li>Flank steak marinated in soy sauce, honey, ginger and herbs then slow cooked all day. Served
                                    with tortillas. (Crock pot)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Balsamic Honey Pulled Pork</strong>
                            <ul>
                                <li>Pulled pork served with a delicious balsamic honey bbq sauce. Served with buns and veggies.
                                    (Crock pot)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Herbed Pork Roast</strong>
                            <ul>
                                <li>Pork roast marinated in lemon juice and herbs and slow cooked all day. Served with roasted
                                    veggies for Sunday dinner flavor on a hectic weekday night. (Crock pot)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Puerto Rican Shredded Pork</strong>
                            <ul>
                                <li>Juicy, citrus marinated pork served with corn tortillas and black beans. (Crockpot)</li>
                            </ul>
                        </li>

                        <li>
                            <strong>Spicy Breakfast Sausage</strong>
                            <ul>
                                <li>Make your own breakfast sausage to serve with scrambled eggs. Another great breakfast for
                                    dinner classic! (Stove top)</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="monthly-menu-header text-center">Burger Bonanza!</h3>
                    <ul>
                        <li>
                            <strong>Double Double Bacon Cheddar Burger</strong>
                            <ul>
                                <li>Beef burger mixed with bacon and cheddar then topped with more bacon and cheddar. Comes with
                                    buns.
                                </li>
                            </ul>
                        </li>
                        <li>

                            <strong>Burger Mignon</strong>
                            <ul>
                                <li>Beef burger mixed with cheddar, blue cheese and seasonings. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Italian Meatball Burger</strong>
                            <ul>
                                <li>Beef and Italian sausage burger seasoned and stuffed with mozzarella. Comes with marinara and garlic buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Green Chile Cheeseburger</strong>
                            <ul>
                                <li>Seasoned beef burger. Topped with cheddar and roasted green chiles. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Buffalo Chicken Burger</strong>
                            <ul>
                                <li>Chicken burger mixed with buffalo sauce and seasonings. Topped with blue cheese crumbles
                                    and/or provolone. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Western Chicken Burger</strong>
                            <ul>
                                <li>Chicken burger mixed with cheddar, jalapeno, and bacon. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Mediterranean Turkey Burger</strong>
                            <ul>
                                <li>Turkey burger mixed with spinach, feta, and sun dried tomatoes. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Turkey Apple Cheddar Burger</strong>
                            <ul>
                                <li>Turkey mixed with apples, cheddar and spices. Comes with buns.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Cuban Pork Burger</strong>
                            <ul>
                                <li>Deliciously seasoned pork burger served on a crusty bun with ham and swiss cheese.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Triple Pork Burger</strong>
                            <ul>
                                <li>Seasoned pork and ground beef burger topped with ham, bacon, cheddar, and caramelized onions.
                                    Comes with onion buns. </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="monthly-menu-header text-center">Gifts in a Jar!</h3>
                    <h4 class="monthly-menu-header text-center">$7 each</h4>
                    <p class="text-center">Pick from Brownies, Reese’s peanut butter cookie, and/or S’more bars. Great client, teacher, or hostess
                        gifts!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>