<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">January 2020</h3>
                <ul class="menu-list">
                  <!-- <li>
                    <img
                      src="/Menu-Images/2020-01/web_.JPG"
                      alt=""
                      class="menu-image"
                    />
                    <div>
                      <h4></h4>
                      <p></p>
                    </div>
                  </li> -->

                  <li>
                    <img
                      src="/Menu-Images/2020-01/web_Honey Garlic Chicken.JPG"
                      alt="Honey Garlic Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Honey Garlic Chicken
                      </h4>
                      <p>
                        A quick, flavorful meal for a busy night. Diced chicken
                        is topped with a sweet garlic and herb sauce and served
                        with rice and veggies. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-01/web_Monterey Chicken.jpg"
                      alt="Monterey Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Monterey Chicken
                      </h4>
                      <p>
                        Chicken breasts topped with a sweet and tangy homemade
                        BBQ sauce, cheddar and bacon. Comes with veggies. (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-01/web_Cilantro Lime Pork.JPG"
                      alt="Cilantro Lime Pork"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Cilantro Lime Pork
                      </h4>
                      <p>
                        I love pork and citrus together. This time we throw in
                        some cilantro and cumin and at the end of a long day,
                        you will have amazing tacos ready to eat. Comes with
                        corn tortillas and cheese. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-01/web_Ham Balls.JPG"
                      alt="Ham Balls"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Ham Balls
                      </h4>
                      <p>
                        My great-aunt’s ham balls brought to you! Nothing is
                        better than an old family recipe and I am so excited to
                        share it with you. Comes with veggies. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-01/web_Bacon Cheeseburger Soup.jpg"
                      alt="Bacon Cheeseburger Soup"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Bacon Cheeseburger Soup
                      </h4>
                      <p>
                        Thick, creamy soup filled with bacon, hamburger,
                        potatoes, and cheese. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-01/web_Ethans Noodles - Beef Satay Noodles.JPG"
                      alt="Ethan’s Noodles (aka Beef Satay Noodles)"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Ethan’s Noodles (aka Beef Satay Noodles)
                      </h4>
                      <p>
                        Rice noodles, ground beef and veggies tossed in a peanut
                        sauce. This is my son’s favorite meal. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-01/web_Pot Roast.jpg"
                      alt="Pot Roast and Veggies"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Pot Roast and Veggies
                      </h4>
                      <p>
                        My Sunday dinner favorite. Flavorful beef and veggies
                        that will have your house smelling great. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-01/web_Beef and Pineapple Stir Fry.JPG"
                      alt="Beef and Pineapple Stir Fry"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Beef and Pineapple Stir Fry
                      </h4>
                      <p>
                        Beef marinated in pineapple and soy, then cooked with
                        pineapple and veggies. A quick and delicious meal.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                     src="/Menu-Images/2020-01/web_Chicken with Creamy Sundried Tomatoes.JPG"
                      alt="Chicken with Creamy Sundried Tomatoes"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Chicken with Creamy Sundried Tomatoes
                      </h4>
                      <p>
                        Chicken and a creamy, cheesy tomato sauce served over
                        pasta. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-01/web_Buffalo Turkey Meatballs.JPG"
                      alt="Buffalo Turkey Meatballs"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Buffalo Turkey Meatballs
                      </h4>
                      <p>
                        Buffalo wings made into easy meatballs. Ground turkey is
                        mixed with shredded carrot and wing sauce. Comes with
                        veggies. (Slow cooker)
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <h3 class="subheading">February 2020</h3>

                <ul class="menu-list">
                  <li>
                    <img
                      src="/Menu-Images/2020-02/web_Mozzarella Stuffed Turkey Pesto Meatballs.JPG"
                      alt="Mozzarella Stuffed Turkey Pesto Meatballs"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Mozzarella Stuffed Turkey Pesto Meatballs
                      </h4>
                      <p>
                        Back by popular demand! Turkey pesto meatballs are
                        stuffed with mozzarella and baked to perfection. Served
                        with Awesome bread and veggies. (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2020-02/web_Beef and Noodles.JPG"
                      alt="Beef and Noodles"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Beef and Noodles
                      </h4>
                      <p>
                        Egg noodles are topped with beef that is slow cooked in
                        a savory sauce. Perfect for a cold night! (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-02/web_Jerk Pulled Chicken.JPG"
                      alt="Jerk Pulled Chicken"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Jerk Pulled Chicken
                      </h4>
                      <p>
                        A taste of the tropics during winter. Chicken is
                        seasoned and slow cooked with a tangy homemade bbq
                        sauce. Served with buns and veggies. (Slow Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-02/web_Thai Pork Tacos.JPG"
                      alt="Thai Pork Tacos"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Thai Pork Tacos
                      </h4>
                      <p>
                        Pork is slow cooked with ginger, garlic, and soy sauce.
                        Corn tortillas are topped with pork and a honey sriracha
                        sauce. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-02/web_Pork Stew.JPG"
                      alt="Pork Stew"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Pork Stew
                      </h4>
                      <p>
                        Hunks of pork and veggies are cooked together for a
                        delicious stew. Perfect for a chilly winter night. (Slow
                        Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-02/web_Cincinnati Chili.JPG"
                      alt="Cincinnati Chili"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Cincinnati Chili
                      </h4>
                      <p>
                        A beefy chili sauce is slow cooked all day. It is served
                        over spaghetti and topped with Cheddar. (Slow Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-02/web_Hawaiian Meatballs.JPG"
                      alt="Hawaiian Meatballs"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Hawaiian Meatballs
                      </h4>
                      <p>
                        Beef is mixed with pineapple and water chestnuts and
                        cooked with a sweet and tangy sauce. Comes with veggies
                        and rice. (Slow Cooker or Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-02/web_Cajun Meatloaf.JPG"
                      alt="Cajun Meatloaf"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Cajun Meatloaf
                      </h4>
                      <p>
                        Ground beef is mixed with the holy trinity (celery,
                        pepper, onion, and garlic) and topped with a tomato
                        sauce. Comes with veggies. (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-02/web_Garlic Pepper Chicken.JPG"
                      alt="Garlic Pepper Chicken"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Garlic Pepper Chicken
                      </h4>
                      <p>
                        Garlic and black pepper season chicken and veggies. A
                        quick one pot meal. Comes with rice. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2020-02/web_Ham and Cheese Stuffed Chicken.JPG"
                      alt="Ham and Cheese Stuffed Chicken"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Ham and Cheese Stuffed Chicken
                      </h4>
                      <p>
                        Ham, Swiss and jalapenos are mixed together and stuffed
                        inside chicken for a gooey, delicious meal. Served with
                        veggies. (Oven)
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% if (config.holiday_sides) { %> <%- partial('_partial/holiday-sides') %>
      <% } %> <% if (config.gifts_in_a_jar) { %> <%-
      partial('_partial/gifts-in-a-jar') %> <% } %>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
