<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">

              <li>
                <h3 class="subheading">June 2019</h3>
                <ul class="menu-list">

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Limoncello Chicken.JPG"
                      alt="Limoncello Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>Limoncello Chicken</h4>
                      <p>Herby, garlicky, lemony grilled chicken and onions. Served with veggies. (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Turkey Pesto Burger.JPG"
                      alt="Turkey Pesto Burger"
                      class="menu-image"
                    />
                    <div>
                      <h4>Turkey Pesto Burger</h4>
                      <p>Mix together turkey and pesto for a juicy, flavorful burger.  Served with fresh mozzarella, buns and veggies.  (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Chicken Fajitas.JPG"
                      alt="Chicken or Portobello Fajitas"
                      class="menu-image"
                    />
                    <div>
                      <h4>Chicken or Portobello Fajitas</h4>
                      <p>Chicken marinated in fresh squeezed juices and seasonings then grilled with peppers and onions for the best fajitas! Comes with tortillas. (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Chicken Fried Cauli-Rice.JPG"
                      alt="Chicken Fried Cauli-rice"
                      class="menu-image"
                    />
                    <div>
                      <h4>Chicken Fried Cauli-rice</h4>
                      <p>Get extra veggies in this tasty take on fried rice. (Stovetop)  
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Mozzarella Stuffed Meatball Burger.JPG"
                      alt="Mozzarella Stuffed Meatball Burgers"
                      class="menu-image"
                    />
                    <div>
                      <h4>Mozzarella Stuffed Meatball Burgers</h4>
                      <p>Beef and Italian sausage burger seasoned and stuffed with mozzarella.  Comes with marinara, awesome bread, and veggies. (Grilled)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Puerto Rican Shredded Pork with Black Beans.JPG"
                      alt="Puerto Rican Shredded Pork with Black Beans"
                      class="menu-image"
                    />
                    <div>
                      <h4>Puerto Rican Shredded Pork with Black Beans</h4>
                      <p>Juicy, citrus marinated pork served with corn tortillas and black beans. (Crockpot)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Pork Egg Roll Bowl.JPG"
                      alt="Pork Egg Roll Bowl"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pork Egg Roll Bowl</h4>
                      <p>All the best parts of eggrolls and none of the mess! Ground pork and veggies topped with crispy wonton strips. (Stovetop) 
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Veggie Loaded Black Beans and Rice.JPG"
                      alt="Veggie Loaded Black Beans and Rice"
                      class="menu-image"
                    />
                    <div>
                      <h4>Veggie Loaded Black Beans and Rice</h4>
                      <p>Black beans and rice like you have never had them before! It is a great vegan meal. (Stovetop) 
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Pasta with Chickpeas and Garlic Sauce.JPG"
                      alt="Pasta with Chickpea and Garlic Sauce"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pasta with Chickpea and Garlic Sauce</h4>
                      <p>One of my favorite vegan pasta meals. A delicious creamy chickpea sauce is tossed with pasta and cherry tomatoes. (Stovetop) 
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Sweet Potato and Quinoa Salad.JPG"
                      alt="Grilled Sweet Potato and Quinoa Salad"
                      class="menu-image"
                    />
                    <div>
                      <h4>Grilled Sweet Potato and Quinoa Salad</h4>
                      <p>A great summer salad. Grilled sweet potatoes are tossed with quinoa, greens, and dried cranberries. (Grill and stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-06/web_Pizza Joes.JPG"
                      alt="Pizza Joes"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pizza Joes</h4>
                      <p>Sloppy Joes’ Italian cousin. A blend of beef, Italian sausage and pepperoni are simmered in an Italian flavored sauce. Comes with veggies, buns and mozzarella. (Stovetop) 
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-06/web_Garlic Butter Flank Steak.JPG"
                      alt="Garlic Butter Flank Steak"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>Garlic Butter Flank Steak</h4>
                      <p>This is the perfect meal for your grill. Seasoned flank steak is finished with an herby, garlicky butter sauce. Throw the veggies on the grill next to the steak and it will be a perfect summer meal. (Grill) 
                      </p>
                    </div>
                  </li>

                </ul>
              </li>

              <li>
                <h3 class="subheading">July 2019</h3>
                <ul class="menu-list">

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Grilled Maple Bacon Chicken Sandwiches.JPG"
                      alt="Grilled Maple Bacon Chicken Sandwiches"
                      class="menu-image"
                    />
                    <div>
                      <h4>Grilled Maple Bacon Chicken Sandwiches</h4>
                      <p>Chicken and bacon are grilled to perfection then piled on rolls with Swiss cheese and a delicious Dijon sauce. Comes with rolls and veggies. (Grill)</p>
                    </div>
                  </li> 

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Western Chicken Burger.JPG"
                      alt="Western Chicken Burger"
                      class="menu-image"
                    />
                    <div>
                      <h4>Western Chicken Burger</h4>
                      <p>Chicken mixed with cheddar, jalapeno, and bacon. Comes with veggies and buns. (Grilled)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Lemon Pesto Chicken.jpg"
                      alt="Lemon Pesto Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>Lemon Pesto Chicken</h4>
                      <p>Chicken marinated in the bright flavors of summer! Comes with veggies. (Grilled)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Pork Chops with Blueberry Bourbon BBQ Sauce.JPG"
                      alt="Pork Chops with Blueberry Bourbon BBQ Sauce"
                      class="menu-image"
                    />
                    <div>
                      <h4>Pork Chops with Blueberry Bourbon BBQ Sauce</h4>
                      <p>The most amazing BBQ sauce ever! I serve it with everything, but it is especially tasty with grilled pork chops. Comes with veggies. (Grilled and stovetop)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Chile Rubbed Pork Chops.JPG"
                      alt="Chile Rubbed Pork Chops with Black Bean Salad"
                      class="menu-image"
                    />
                    <div>
                      <h4>Chile Rubbed Pork Chops with Black Bean Salad</h4>
                      <p>Grilled, spiced pork chops served with a grilled veggie salad. (Grill)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Tacos al Pastor.JPG"
                      alt="Tacos al Pastor"
                      class="menu-image"
                    />
                    <div>
                      <h4>Tacos al Pastor</h4>
                      <p>Tender pork slow cooked for the perfect tacos. Comes with tortillas. (Slow cooker)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Hawaiian Burgers.JPG"
                      alt="Hawaiian Burgers"
                      class="menu-image"
                    />
                    <div>
                      <h4>Hawaiian Burgers</h4>
                      <p>Ham and pineapple come together for a great summer burger! Comes with buns and veggies. (Grill)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Carne Asada.JPG"
                      alt="Carne Asada"
                      class="menu-image"
                    />
                    <div>
                      <h4>Carne Asada</h4>
                      <p>Flank steak is marinated then grilled to perfection to make great summertime tacos. Comes with corn tortillas. (Grilled)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Cheddar Bacon Ranch Burger.JPG"
                      alt="Cheddar Bacon Ranch Burger"
                      class="menu-image"
                    />
                    <div>
                      <h4>Cheddar Bacon Ranch Burger</h4>
                      <p>Mix bacon, cheddar and ranch into beef to create the juiciest burgers! Comes with buns and veggies. (Grill)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Broccoli Beef.JPG"
                      alt="Broccoli Beef"
                      class="menu-image"
                    />
                    <div>
                      <h4>Broccoli Beef</h4>
                      <p>Beef cooked in a savory sauce. Served with broccoli and rice. (Stovetop)</p>
                    </div>
                  </li> 

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Veggie Pasta.JPG"
                      alt="Veggie Pasta"
                      class="menu-image"
                    />
                    <div>
                      <h4>Veggie Pasta</h4>
                      <p>A one pot pasta dish filled with seasonal veggies! (Stovetop)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Three Sisters Enchilada Bowls.JPG"
                      alt="Three Sisters Enchilada Bowls"
                      class="menu-image"
                    />
                    <div>
                      <h4>Three Sisters Enchilada Bowls</h4>
                      <p>Squash, beans and corn fill this amazing enchilada bowl! (Stovetop)</p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-07/web_Spicy Thai Noodles.JPG"
                      alt="Spicy Thai Noodles"
                      class="menu-image"
                    />
                    <div>
                      <h4>Spicy Thai Noodles</h4>
                      <p>Veggie filled rice noodles are tossed with a spicy sauce. (Stovetop)</p>
                    </div>
                  </li>

                </ul>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
