<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">November 2019</h3>
                <ul class="menu-list">
                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Sweet and Spicy Bacon Wrapped Chicken.JPG"
                      alt="Sweet and Spicy Bacon Wrapped Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Sweet and Spicy Bacon Wrapped Chicken
                      </h4>
                      <p>
                        The name says it all! Bacon wrapped chicken seasoned
                        with a little sweet and a little spice. Comes with
                        veggies. (Baked)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Shredded Mexican Chicken with Rice.JPG"
                      alt="Shredded Mexican Chicken with Rice"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Shredded Mexican Chicken with Rice
                      </h4>
                      <p>
                        Rice bowls topped with the most flavorful chicken. (Slow
                        Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Chicken with Spinach and Sun Dried Tomatoes.JPG"
                      alt="Chicken with Spinach and Sun Dried Tomatoes"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Chicken with Spinach and Sun Dried Tomatoes
                      </h4>
                      <p>
                        Baked chicken topped with spinach, tomatoes, and cheese.
                        A great way to add more veggies to your day! Comes with
                        veggies. (Baked)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Sweet Potato Turkey Hash.JPG"
                      alt=""
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Sweet Potato Turkey Hash
                      </h4>
                      <p>
                        This is one of my favorite ways to use turkey! Sautéed
                        sweet potatoes and turkey slightly sweetened with maple
                        syrup. Perfect for breakfast or dinner! (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Apple Glazed Pork with Cheesy Grits.JPG"
                      alt="Apple Glazed Pork with Cheesy Grits"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Apple Glazed Pork with Cheesy Grits
                      </h4>
                      <p>
                        Slightly sweet, seasoned pork served over cheesy grits.
                        (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Pork Chops with Cider Pan Sauce.JPG"
                      alt="Pork Chops with Cider Pan Sauce"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Pork Chops with Cider Pan Sauce
                      </h4>
                      <p>
                        Juicy pork chops are finished with a sweet and savory
                        pan sauce. Comes with veggies. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Corn Chowder.JPG"
                      alt="Corn Chowder"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Corn Chowder
                      </h4>
                      <p>
                        I love soup and this one has moved to the top of my
                        favorites list! Slow cooked all day with a touch of
                        cream or coconut milk added at the end. (Slow cooker or
                        stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Golden Coconut Lentil Soup.JPG"
                      alt=""
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Golden Coconut Lentil Soup
                      </h4>
                      <p>
                        A great soup filled with bright flavors. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Harissa Veggie Bowl.JPG"
                      alt="Harissa Veggie Bowl"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Harissa Veggie Bowl
                      </h4>
                      <p>
                        A great selection of fall veggies, roasted and served
                        over quinoa. (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Roasted Veggie Tacos.JPG"
                      alt="Roasted Veggie Tacos"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Roasted Veggie Tacos
                      </h4>
                      <p>
                        The best tacos filled with veggies and flavor! (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-11/web_Pot Sticker Noodle Bowls.JPG"
                      alt="Pot Sticker Noodle Bowl"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Pot Sticker Noodle Bowl
                      </h4>
                      <p>
                        The flavors of pot stickers in a quick and easy noodle
                        bowl. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-11/web_Beef Stew.JPG"
                      alt="Beef Stew"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Beef Stew
                      </h4>
                      <p>
                        A hearty fall favorite. This flavorful beef stew is full
                        of veggies. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-11/web_Beef Stroganoff.JPG"
                      alt="Beef Stroganoff"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Beef Stroganoff
                      </h4>
                      <p>
                        A classic meal made into a freezer meal favorite. Comes
                        with noodles. (Slow cooker)
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <h3 class="subheading">December 2019</h3>
                <ul class="menu-list">
                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_Baked French Toast with Praline Topping.JPG"
                      alt="Baked French Toast with Praline Topping"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Baked French Toast with Praline Topping
                      </h4>
                      <p>
                        My favorite family tradition. We have this amazing
                        breakfast bake for all our big family breakfasts. (Oven)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_Orange Rosemary Chicken.JPG"
                      alt="Orange Rosemary Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Orange Rosemary Chicken
                      </h4>
                      <p>
                        Juicy, citrus marinated chicken served with veggies.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_Honey Sriracha Chicken.JPG"
                      alt="Honey Sriracha Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Honey Sriracha Chicken
                      </h4>
                      <p>
                        A little spice to go with a little sweet! This will be
                        your new favorite take-out substitute. Comes with
                        veggies and zoodles. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_French Onion Chicken.JPG"
                      alt="French Onion Chicken"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        French Onion Chicken
                      </h4>
                      <p>
                        Tender chunks of chicken, caramelized onions, and Swiss
                        cheese served over egg noodles. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_Vegan Taco Soup.JPG"
                      alt="Taco Soup"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Taco Soup
                      </h4>
                      <p>
                        A flavorful, veggie loaded soup. It is my go-to for a
                        filling meal in cold weather. Comes with or without
                        chicken and cheese. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_Ropa Vieja.JPG"
                      alt="Ropa Vieja"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Ropa Vieja
                      </h4>
                      <p>
                        Beef roast slow cooked with peppers and tomatoes. A
                        Midwest twist on a Cuban favorite. Comes with rice.
                        (Slow Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_Stuffed Pepper Soup.JPG"
                      alt="Stuffed Pepper Soup"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Stuffed Pepper Soup
                      </h4>
                      <p>
                        A tomato-based soup filled with beef or mushrooms,
                        peppers, and rice. A quick and delicious dinner.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_Butter(less) Chickpeas.JPG"
                      alt="Butter(less) Chickpeas"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Butter(less) Chickpeas
                      </h4>
                      <p>
                        A vegan take on a classic Indian dish. Comes with rice.
                        (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-12/web_Smoky Sweet Potato and Chickpea Stew.JPG"
                      alt="Smoky Sweet Potato and Chickpea Stew"
                      class="menu-image"
                    />
                    <div>
                      <h4>
                        Smoky Sweet Potato and Chickpea Stew
                      </h4>
                      <p>
                        A thick and delicious stew. A great meal to go with a
                        good book. (Slow Cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-12/web_Lemon Thyme Pork with Spinach Rice.JPG"
                      alt="Lemon Thyme Pork with Spinach Rice"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Lemon Thyme Pork with Spinach Rice
                      </h4>
                      <p>
                        Pan cooked pork chops finished with a lemon thyme sauce.
                        Served with a flavorful green rice. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-12/web_Cochinita Pibil.JPG"
                      alt="Cochinita Pibil"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        Cochinita Pibil (Mexican Shredded Pork)
                      </h4>
                      <p>
                        Citrus and annatto seasoned pork is slow cooked until it
                        falls apart. It makes amazing tacos, nachos, or
                        quesadillas. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- <img
                      src="/Menu-Images/2019-12/web_French Dip Sandwiches.JPG"
                      alt="French Dip Sandwiches"
                      class="menu-image"
                    /> -->
                    <div>
                      <h4>
                        French Dip Sandwiches
                      </h4>
                      <p>
                        Slow cooked beef with a perfectly seasoned au jus.
                        Served with rolls and veggies. (Slow cooker)
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="text-center">Thanksgiving Sides!</h3>
          <p>
            Dinner Delights can make everything except the turkey. Let us help
            make your holiday easier. Contact Andrea to see what we can do!
          </p>
          <p class="text-center">
            Order your sides today!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <a
            href="http://buytickets.at/dinnerdelights/314335"
            class="btn btn-buy-jars"
            target="_blank"
            >ORDER SIDES</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="text-center">Gifts in a Jar are back!</h3>
          <p>
            Through December you can make
            <strong>Hot Cocoa Mix, Pancake Mix, or Monster Cookies</strong>.
            They are perfect for anyone you need to give a quick, delicious
            handmade gift! Teachers, friends, service providers, or just
            because! $9 each!
          </p>
          <p class="text-center">
            Order your jars today!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <a
            href="http://buytickets.at/dinnerdelights/314337"
            class="btn btn-buy-jars"
            target="_blank"
            >ORDER JARS</a
          >
        </div>
      </div>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
