<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>April 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>Chicken Flautas</strong>
                            <ul>
                                <li>Cheesy, seasoned chicken wrapped in flour tortillas and baked or fried. (Crockpot then baked or fried)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Cheesy Chicken and Rice</strong>
                            <ul>
                                <li>Delicious chicken, veggie and rice dish. A one pot dish that covers all the bases! (Stovetop)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Red Pepper Chicken</strong>
                            <ul>
                                <li>Garlicky chicken and veggies cooked all day in the crockpot. Your house will smell great! Served with brown rice and veggies. Also good on nachos. (Crockpot)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Honey Soy Pork</strong>
                            <ul>
                                <li>Fall-apart pork loin marinated in honey, soy, and seasonings. Served with buttered noodles and veggies. (Crockpot)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Pork Chops alla Pizzaiola</strong>
                            <ul>
                                <li>Pork chops in a quick tomato sauce. Great for a quick dinner. Served with veggies.  (Stovetop)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Buffalo Pork Chops</strong>
                            <ul>
                                <li>Pork chops marinated in buffalo sauce. Quick cooked and topped with sautéed carrots, celery, onions and provolone. (Stovetop)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Baked Tacos</strong>
                            <ul>
                                <li>Tasty twist on tacos. Beef seasoned with homemade taco seasoning. Fill the shells, top with cheese, and bake until melty good. (Stovetop then baked)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Pizza Burgers</strong>
                            <ul>
                                <li>Homemade burgers that are good either grilled or pan cooked. Topped with mozzarella, pepperoni, and marinara. Comes with buns and veggies. (Grilled or stovetop)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Sriracha and Cheddar Juicy Lucy</strong>
                            <ul>
                                <li>Cheddar stuffed burgers with a little (optional) kick. Comes with buns and veggies. (Grilled or stovetop)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Sausage and Pepper Hash</strong>
                            <ul>
                                <li>Another breakfast for dinner favorite! Potatoes, veggies and sausage cooked together. Even better with a fried egg on top! (Stovetop)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>