<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">June 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="menu-list">

                        <li>
                            <img src="/Menu-Images/2018-06/web_Limoncello Chicken.JPG" alt="Limoncello Chicken" class="menu-image" />
                            <div>
                                <h4>Limoncello Chicken</h4>
                                <p>Herby, garlicky, lemony grilled chicken and onions. Served with veggies. (Grilled)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Turkey Pesto Burger.JPG" alt="Turkey Pesto Burger " class="menu-image" />
                            <div>
                                <h4>Turkey Pesto Burger </h4>
                                <p>Mix together turkey and pesto for a juicy, flavorful burger.  Served with fresh mozzarella, buns and veggies.  (Grilled)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Chicken Fajitas.JPG" alt="Chicken Fajitas" class="menu-image" />
                            <div>
                                <h4>Chicken Fajitas</h4>
                                <p>Chicken marinated in fresh squeezed juices and seasonings then grilled with peppers and onions for the best fajitas! Comes with tortillas. (Grilled)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Chicken Fried Cauli-Rice.JPG" alt="Chicken Fried Cauli-rice" class="menu-image" />
                            <div>
                                <h4>Chicken Fried Cauli-rice</h4>
                                <p>Get extra veggies in this tasty take on fried rice. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Asian Beef Tacos.JPG" alt="Asian Beef Tacos" class="menu-image" />
                            <div>
                                <h4>Asian Beef Tacos</h4>
                                <p>Flank steak marinated in soy sauce, honey, ginger and herbs then slow cooked all day.  Served with tortillas.  (Crock pot)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Mozzarella Stuffed Meatball Burger.JPG" alt="Mozzarella Stuffed Meatball Burgers" class="menu-image" />
                            <div>
                                <h4>Mozzarella Stuffed Meatball Burgers</h4>
                                <p>Beef and Italian sausage burger seasoned and stuffed with mozzarella.  Comes with marinara, awesome bread, and veggies.</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Puerto Rican Shredded Pork with Black Beans.JPG" alt="Puerto Rican Shredded Pork with Black Beans" class="menu-image" />
                            <div>
                                <h4>Puerto Rican Shredded Pork with Black Beans</h4>
                                <p>Juicy, citrus marinated pork served with corn tortillas and black beans. (Crockpot)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Garlic Ginger Pork.JPG" alt="Garlic Ginger Pork" class="menu-image" />
                            <div>
                                <h4>Garlic Ginger Pork</h4>
                                <p>Seasoned pork strips cooked in a sweet and spicy sauce. Served with seasoned roasted broccoli. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Pork Egg Roll Bowl.JPG" alt="Pork Egg Roll Bowl" class="menu-image" />
                            <div>
                                <h4>Pork Egg Roll Bowl</h4>
                                <p>All the best parts of eggrolls and none of the mess! Ground pork and veggies topped with crispy wonton strips. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-06/web_Veggie Loaded Black Beans and Rice.JPG" alt="Veggie Loaded Black Beans and Rice" class="menu-image" />
                            <div>
                                <h4>Veggie Loaded Black Beans and Rice</h4>
                                <p>Black beans and rice like you have never had them before! It is a great vegetarian meal. (Stovetop)</p>
                            </div>
                        </li>                        

                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>