<div id="menu" class="section">
  <section class="menu-container">
    <div class="container menu-content">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
        >
          <div class="section-heading"><h2>Menu</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="menu-carousel" class="flexslider">
            <!-- Wrapper for slides -->
            <ul class="slides">
              <li>
                <h3 class="subheading">January 2019</h3>
                <ul class="menu-list">
                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Chicken and Noodles.JPG"
                      alt="Chicken and Noodles"
                      class="menu-image"
                    />
                    <div>
                      <h4>Chicken and Noodles</h4>
                      <p>
                        A comfort food favorite! Chicken slow cooked in seasoned
                        broth. Add egg noodles and corn and you have a great
                        meal for a chilly day. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Honey Garlic Chicken.JPG"
                      alt=""
                      class="menu-image"
                    />
                    <div>
                      <h4>Honey Garlic Chicken</h4>
                      <p>
                        A quick, flavorful meal for a busy night. Diced chicken
                        is topped with a sweet garlic and herb sauce and served
                        with rice and veggies. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Southwestern Chicken with Cilantro Lime Rice.JPG"
                      alt=""
                      class="menu-image"
                    />
                    <div>
                      <h4>Southwestern Chicken with Cilantro Lime Rice</h4>
                      <p>
                        Seasoned chicken and veggies served over flavorful rice.
                        Can be made vegan. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Cilantro Lime Pork.JPG"
                      alt=""
                      class="menu-image"
                    />
                    <div>
                      <h4>Cilantro Lime Pork</h4>
                      <p>
                        I love pork and citrus together. This time we throw in
                        some cilantro and cumin and at the end of a long day,
                        you will have amazing tacos ready to eat. Comes with
                        corn tortillas and cheese. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Ham Balls.JPG"
                      alt="Ham Balls"
                      class="menu-image"
                    />
                    <div>
                      <h4>Ham Balls</h4>
                      <p>
                        My great-aunt’s ham balls brought to you! Nothing is
                        better than an old family recipe and I am so excited to
                        share it with you! Comes with veggies. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Shaksuka.JPG"
                      alt=""
                      class="menu-image"
                    />
                    <div>
                      <h4>Shaksuka</h4>
                      <p>
                        Layer sausage or mushrooms, veggies, spices and tomatoes
                        for a delicious breakfast for dinner! (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Asian Beef and Peppers.JPG"
                      alt=""
                      class="menu-image"
                    />
                    <div>
                      <h4>Asian Beef and Peppers</h4>
                      <p>
                        Ground beef or mushrooms and peppers cooked in a savory
                        Asian flavored sauce. Served over rice. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Ethans Noodles - Beef Satay Noodles.JPG"
                      alt="Ethan's Noodles - Beef Satay Noodles"
                      class="menu-image"
                    />
                    <div>
                      <h4>Ethan’s Noodles (aka Beef Satay Noodles)</h4>
                      <p>
                        Rice noodles, ground beef (or not) and veggies tossed in
                        a peanut sauce. This is my son’s favorite meal. Can be
                        made vegan. (Stovetop)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Smothered Chile Colorado Burritos.JPG"
                      alt="Smothered Chile Colorado Burritos"
                      class="menu-image"
                    />
                    <div>
                      <h4>Smothered Chile Colorado Burritos</h4>
                      <p>
                        A spicy way to start your year! Seasoned beef and beans
                        fill flour tortillas. Top with cheese and you have a
                        great meal. Can be made vegan. (Slow cooker)
                      </p>
                    </div>
                  </li>

                  <li>
                    <img
                      src="/Menu-Images/2019-01/web_Black Bean Soup.JPG"
                      alt="Black Bean Soup"
                      class="menu-image"
                    />
                    <div>
                      <h4>Black Bean Soup</h4>
                      <p>
                        Veggie overload! Black beans slow cooked with all the
                        veggies. It is the perfect bowl of soup for a cold
                        night. (Slow cooker)
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row menu-btn-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <a href="/Menu-Archive/" class="btn btn-default btn-block"
            >Previous Menus</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
