<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="menu-carousel" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#menu-carousel" data-slide-to="0"></li>
                            <li data-target="#menu-carousel" data-slide-to="1" class="active"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <h3 class="subheading">September 2018</h3>
                                <ul class="menu-list">

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Chicken Teriyaki.JPG" alt="Chicken Teriyaki"
                                            class="menu-image" />
                                        <div>
                                            <h4>Chicken Teriyaki</h4>
                                            <p>Chicken cooked in a homemade teriyaki sauce. Comes with stir fry
                                                veggies
                                                and rice.
                                                (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Balsamic Chicken and Veggies.JPG" alt="Balsamic Chicken and Veggies"
                                            class="menu-image" />
                                        <div>
                                            <h4>Balsamic Chicken and Veggies</h4>
                                            <p>Chicken with green beans, carrots and tomatoes tossed with a
                                                delicious
                                                balsamic
                                                sauce. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Squash and Quinoa Soup.JPG" alt="Squash and Quinoa Soup"
                                            class="menu-image" />
                                        <div>
                                            <h4>Squash and Quinoa Soup</h4>
                                            <p>Chicken, butternut squash, and quinoa cook into the perfect soup
                                                autumn
                                                soup. (Slow
                                                cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Cilantro Lime Chicken.JPG" alt="Cilantro Lime Chicken"
                                            class="menu-image" />
                                        <div>
                                            <h4>Cilantro Lime Chicken</h4>
                                            <p>Pan fried chicken finished with a creamy cilantro lime sauce. Comes
                                                with
                                                veggies.
                                                (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Hot Ham and Swiss Croissants.JPG" alt="Hot Ham and Swiss Croissants"
                                            class="menu-image" />
                                        <div>
                                            <h4>Hot Ham and Swiss Croissants</h4>
                                            <p>Flakey croissants layered with homemade honey mustard, Swiss and
                                                ham. A
                                                delicious
                                                dinner ready in minutes! Comes with veggies. (Oven) </p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Green Chile and Cheese Stuffed Pork Chops.JPG"
                                            alt="Green Chile and Cheese Stuffed Pork Chops" class="menu-image" />
                                        <div>
                                            <h4>Green Chile and Cheese Stuffed Pork Chops</h4>
                                            <p>Thick, juicy pork chops stuffed with green chiles and cheddar. Comes
                                                with veggies.
                                                (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Italian Stuffed Zucchini.JPG" alt="Italian Stuffed Zucchini"
                                            class="menu-image" />
                                        <div>
                                            <h4>Italian Stuffed Zucchini</h4>
                                            <p>Zucchini boats filled with flavorful meat sauce. Topped with
                                                mozzarella
                                                and baked
                                                until golden brown and delicious. (Stovetop then oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Barbacoa Beef.JPG" alt="Barbacoa Beef" class="menu-image" />
                                        <div>
                                            <h4>Barbacoa Beef</h4>
                                            <p>Flavorful beef perfect for tacos, nachos or quesadillas! Comes with
                                                tortillas and
                                                cheese. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Beef Tips and Roasted Veggies.JPG" alt="Beef Tips and Roasted Veggies"
                                            class="menu-image" />
                                        <div>
                                            <h4>Beef Tips and Roasted Veggies</h4>
                                            <p>Juice, herby pieces of beef served with roasted veggies. A fall
                                                favorite! (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Tortellini Arrabbiata.JPG" alt="Tortellini Arrabbiata"
                                            class="menu-image" />
                                        <div>
                                            <h4>Tortellini Arrabbiata</h4>
                                            <p>Veggie filled sauce served over cheese tortellini. Perfect for
                                                Meatless
                                                Monday!
                                                (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Squash and Quinoa Soup.JPG" alt="Vegan Squash and Quinoa Soup"
                                            class="menu-image" />
                                        <div>
                                            <h4>Vegan Squash and Quinoa Soup</h4>
                                            <p>Butternut squash and quinoa cook into the perfect soup autumn soup.
                                                (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Calabacita Tacos.JPG" alt="Calabacita Tacos"
                                            class="menu-image" />
                                        <div>
                                            <h4>Calabacita Tacos</h4>
                                            <p>Zucchini, corn, and green chiles meld together into a delicious taco
                                                filling. Comes
                                                with corn tortillas. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Roasted Veggies with Orzo.JPG" alt="Roasted Veggies with Orzo"
                                            class="menu-image" />
                                        <div>
                                            <h4>Roasted Veggies with Orzo</h4>
                                            <p>A great early fall pasta salad. Eggplant, zucchini, tomatoes and
                                                more
                                                are roasted
                                                then mixed with orzo and a light vinaigrette. (Oven and stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Three Tomato Risotto.JPG" alt="Three Tomato Risotto"
                                            class="menu-image" />
                                        <div>
                                            <h4>Three Tomato Risotto</h4>
                                            <p>Three kinds of tomatoes are mixed into creamy Arborio rice.
                                                (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Vegan Italian Stuffed Zucchini.JPG" alt="Vegan Italian Stuffed Zucchini"
                                            class="menu-image" />
                                        <div>
                                            <h4>Vegan Italian Stuffed Zucchini</h4>
                                            <p>Mushrooms, carrots, and onions are caramelized then mixed with
                                                homemade
                                                marinara
                                                before being stuffed into zucchini boats. (Stovetop then oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-09/web_Vegetable Satay.JPG" alt="Vegetable Satay"
                                            class="menu-image" />
                                        <div>
                                            <h4>Vegetable Satay</h4>
                                            <p>Veggies receive a quick marinade before being
                                                grilled.
                                                Comes with couscous. (Grill or stovetop)</p>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                            <div class="item active">
                                <h3 class="subheading">October 2018</h3>
                                <ul class="menu-list">

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_BBQ Bacon Onion Bombs.JPG" alt="BBQ Bacon Onion Bombs" class="menu-image" />
                                        <div>
                                            <h4>BBQ Bacon Onion Bombs</h4>
                                            <p>Homemade meatballs wrapped in onion wrapped in bacon. Soon to be your fall favorite! Comes with veggies. (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Three Bean Chili.JPG" alt="Three Bean Chili with Sausage" class="menu-image" />
                                        <div>
                                            <h4>Three Bean Chili with Sausage</h4>
                                            <p>A hearty chili that is ready when you get home. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Red Wine Roast with Creamy Polenta and Roasted Radishes.JPG" alt="Red Wine Roast with Creamy Polenta and Roasted Radishes" class="menu-image" />
                                        <div>
                                            <h4>Red Wine Roast with Creamy Polenta and Roasted Radishes</h4>
                                            <p>Herb rubbed roast cooked in red wine. Perfect for Sunday dinner and no one has to know it took you less than half an hour to make! (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Italian Breakfast Bake.JPG" alt="Italian Breakfast Bake" class="menu-image" />
                                        <div>
                                            <h4>Italian Breakfast Bake</h4>
                                            <p>Layers of hash browns, ham, salami, veggies, mozzarella and eggs are baked into a delicious casserole. It is a great dish for a chilly autumn morning or evening! (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Honey Lime Chicken with Butternut Squash.JPG" alt="Honey Lime Chicken with Butternut Squash" class="menu-image" />
                                        <div>
                                            <h4>Honey Lime Chicken with Butternut Squash</h4>
                                            <p>The perfect blend of squash, chicken and seasonings. Served over rice. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Apple Cider Pulled Chicken.JPG" alt="Apple Cider Pulled Chicken" class="menu-image" />
                                        <div>
                                            <h4>Apple Cider Pulled Chicken</h4>
                                            <p>Juicy shredded chicken that makes a great sandwich. Comes with sourdough, cheddar, and veggies. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Spicy Pork Burrito Bowls.JPG" alt="Spicy Pork Burrito Bowls" class="menu-image" />
                                        <div>
                                            <h4>Spicy Pork Burrito Bowls</h4>
                                            <p>Pork and veggies seasoned to your taste. Add some rice and you have the perfect burrito bowl!  Comes with rice and cheese. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Cuban Sandwiches.JPG" alt="Cuban Sandwiches" class="menu-image" />
                                        <div>
                                            <h4>Cuban Sandwiches</h4>
                                            <p>Back by popular demand! Pork is slow cooked with citrus and herbs all day. Add ham and Swiss and you have an amazing sandwich. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Penne alla Vodka.JPG" alt="Penne alla Vodka" class="menu-image" />
                                        <div>
                                            <h4>Penne alla Vodka</h4>
                                            <p>A creamy tomato sauce is mixed with penne for one of my favorite pasta dishes. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Creamy Pumpkin Soup.JPG" alt="Creamy Pumpkin Soup" class="menu-image" />
                                        <div>
                                            <h4>Creamy Pumpkin Soup</h4>
                                            <p>One of my favorite soups! It is the perfect flavor of fall. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Three Bean Chili.JPG" alt="Three Bean Chili" class="menu-image" />
                                        <div>
                                            <h4>Three Bean Chili</h4>
                                            <p>A hearty chili that is ready when you get home. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_BBQ Tacos.JPG" alt="BBQ Tacos" class="menu-image" />
                                        <div>
                                            <h4>BBQ Tacos</h4>
                                            <p>A twist on the usual Mexican flavors. Veggies are mixed with a quick BBQ sauce and stuffed into corn tortillas. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Chickpea and Eggplant Curry.JPG" alt="Chickpea and Eggplant Curry" class="menu-image" />
                                        <div>
                                            <h4>Chickpea and Eggplant Curry</h4>
                                            <p>This delicious curry comes together in no time. Comes with rice. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-10/web_Peanut and Veggie Noodles.JPG" alt="Peanut and Veggie Noodles" class="menu-image" />
                                        <div>
                                            <h4>Peanut and Veggie Noodles</h4>
                                            <p>Soba noodles and stir fry veggies are tossed with a creamy peanut butter sauce. (Stovetop)</p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#menu-carousel" role="button">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#menu-carousel" role="button">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>