<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>November 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li>
                            <strong>BBQ Bacon Onion Bombs</strong>
                            <ul>
                                <li>Homemade meatballs wrapped in onion wrapped in bacon. Soon to be your fall favorite! Comes
                                    with veggies. (Oven)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Day Before Roast</strong>
                            <ul>
                                <li>Delicious roast slow cooked until it falls apart. Makes the best roast beef sandwiches with au jus! Comes with rolls and veggies. (Slow cooker)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Asian Five Spice Meatballs</strong>
                            <ul>
                                <li>Great Asian flavored meatballs, slow cooked all day. Comes with rice and veggies. (Slow cooker)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Orange Rosemary Chicken</strong>
                            <ul>
                                <li>Citrus marinated chicken served with rice and veggies. (Baked)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Turkey Chili Nachos</strong>
                            <ul>
                                <li>A delicious sauce to serve over nachos! Comes with tortilla chips and cheese. (Stovetop)
                                    </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Sweet and Spicy Bacon Wrapped Chicken</strong>
                            <ul>
                                <li>The name says it all! Bacon wrapped chicken seasoned with a little sweet and a little spice. (Baked)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Apple Glazed Pork with Cheesy Grits</strong>
                            <ul>
                                <li>Slightly sweet, seasoned pork served over cheesy grits. (Slow cooker)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Sausage Cranberry Ragu</strong>
                            <ul>
                                <li>A fun seasonal dinner. This pasta sauce is a great combination of fall flavors. Comes with pasta. (Stovetop) </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Sweet Potato Turkey Hash</strong>
                            <ul>
                                <li>This is one of my favorite ways to use turkey! Sautéed sweet potatoes and turkey slightly sweetened with maple syrup. Perfect for breakfast or dinner! (Stovetop)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Corn Chowder</strong>
                            <ul>
                                <li>I love soup and this one has moved to the top of my favorites list! Slow cooked all day with
                                    a touch of cream added at the end. (Slow cooker)</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Chili</strong>
                            <ul>
                                <li>This veggie packed chili is perfect for a chilly November evening. (Slow cooker)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="text-center">Gifts in a Jar are back<span class="exclamation-font">!</span></h3>
                    <p>
                        Through December you can make <strong>Hot Cocoa Mix, Pancake Mix, or Monster Cookies</strong>. They are perfect for anyone you need to give a quick, delicious handmade gift! Teachers, friends, service providers, or just because!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>