<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">April 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="menu-list">

                        <li>
                            <img src="/Menu-Images/2018-04/web_Chicken Flautas.JPG" alt="Chicken Flautas" class="menu-image" />
                            <div>
                                <h4>Chicken Flautas</h4>
                                <p>My favorite Mexican(ish) meal! Cheesy, seasoned chicken wrapped in flour tortillas and baked
                                    or fried. (Crockpot then baked or fried)</p>
                            </div>
                        </li>


                        <li>
                            <img src="/Menu-Images/2018-04/web_Cheesy Chicken and Rice.JPG" alt="Cheesy Chicken and Rice" class="menu-image" />
                            <div>
                                <h4>Cheesy Chicken and Rice</h4>
                                <p>Delicious chicken, veggie and rice dish. A one pot dish that covers all the bases! (Stovetop)</p>
                            </div>
                        </li>


                        <li>
                            <img src="/Menu-Images/2018-04/web_Red Pepper Chicken.JPG" alt="Red Pepper Chicken" class="menu-image" />
                            <div>
                                <h4>Red Pepper Chicken</h4>
                                <p>Garlicky chicken and veggies cooked all day in the crockpot. Your house will smell great!
                                    Served with brown rice and veggies. (Slow cooker)</p>
                            </div>
                        </li>


                        <li>
                            <img src="/Menu-Images/2018-04/web_Buffalo Pork Chops.JPG" alt="Buffalo Pork Chops" class="menu-image" />
                            <div>
                                <h4>Buffalo Pork Chops</h4>
                                <p>Pork chops marinated in buffalo wing sauce. The chops are seared then topped with sautéed
                                    carrots, celery, onions and provolone and baked to melty perfection. (Stovetop and oven)</p>
                            </div>
                        </li>


                        <li>
                            <img src="/Menu-Images/2018-04/web_Teriyaki Pork.JPG" alt="Teriyaki Pork" class="menu-image" />
                            <div>
                                <h4>Teriyaki Pork</h4>
                                <p>Pork cooked with veggies and pineapple in a homemade teriyaki sauce. Comes with rice. (Slow
                                    cooker)
                                </p>
                            </div>
                        </li>


                        <li>
                            <img src="/Menu-Images/2018-04/web_Carnitas.JPG" alt="Carnitas" class="menu-image" />
                            <div>
                                <h4>Carnitas</h4>
                                <p>Slow cooked deliciousness is the best way to describe thee amazing tacos. Pork is slow cooked
                                    all day then broiled or pan fried to get crispy edges. My favorite way to make tacos!
                                    (Slow cooker then oven or stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-04/web_Sriracha and Cheddar Juicy Lucy.JPG" alt="Sriracha and Cheddar Juicy Lucy" class="menu-image" />
                            <div>
                                <h4>Sriracha and Cheddar Juicy Lucy</h4>
                                <p>Cheddar stuffed burgers with a little (optional) kick. Comes with buns and veggies. (Grilled
                                    or stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-04/web_Italian Beef Sandwiches.JPG" alt="Italian Beef Sandwiches" class="menu-image" />
                            <div>
                                <h4>Italian Beef Sandwiches</h4>
                                <p>My take on a Chicago favorite. Slow cooked beef is made into amazing sandwiches. Comes with
                                    rolls and veggies. (Slow cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-04/web_Ribollita.JPG" alt="Ribollita" class="menu-image" />
                            <div>
                                <h4>Ribollita</h4>
                                <p>A hearty Italian white bean soup. Perfect for a crisp spring evening. (Slow cooker or stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-04/web_Sweet Potato and Chickpea Curry.JPG" alt="Sweet Potato and Chickpea Curry" class="menu-image" />
                            <div>
                                <h4>Sweet Potato and Chickpea Curry</h4>
                                <p>An amazing vegetarian curry finished with fresh spinach and coconut milk. Comes with rice.
                                    (Slow cooker)</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>