<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="section-heading">
                    <h2>Menu</h2>
                    <p>February 2017</p>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-2">
                    <ul>
                        <li>
                            Monterey Chicken
                            <ul>
                                <li>Cheese, BBQ sauce, and bacon on chicken</li>
                            </ul>
                        </li>
                        <li>Brown Sugar Bourbon Chicken</li>
                        <li>Creole Chicken and Sausage</li>
                        <li>Sloppy Joes</li>
                        <li>Ranch Pork Chops and Potatoes</li>
                        <li>Beef and noodles</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <ul>
                        <li>
                            Roasted Tomato Soup
                            <ul>
                                <li>
                                    special tools needed – blender or food processor or immersion blender
                                </li>
                            </ul>
                        </li>
                        <li>Mozzarella Stuffed Turkey Pesto Meatballs</li>
                        <li>
                            Hot Italian Sandwiches
                            <ul>
                                <li>
                                    pepperoni, salami, ham, mozzarella, provolone
                                </li>
                            </ul>
                        </li>
                        <li>Bacon Cheddar turnovers</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container menu-btn-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
            </div>
        </div>
    </div>
</div>