<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="menu-carousel" class="flexslider">
                        <!-- Wrapper for slides -->
                        <ul class="slides">
                            <li>
                                <h3 class="subheading">November 2018</h3>
                                <ul class="menu-list">

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Sweet and Spicy Bacon Wrapped Chicken.JPG" alt="Sweet and Spicy Bacon Wrapped Chicken"
                                            class="menu-image" />
                                        <div>
                                            <h4>Sweet and Spicy Bacon Wrapped Chicken</h4>
                                            <p>The name says it all! Bacon wrapped chicken seasoned with a little sweet and a little spice. Comes with veggies. (Baked)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Shredded Mexican Chicken with Rice.JPG" alt="Shredded Mexican Chicken with Rice"
                                            class="menu-image" />
                                        <div>
                                            <h4>Shredded Mexican Chicken with Rice</h4>
                                            <p>Rice bowls topped with the most flavorful chicken. (Slow Cooker)</p>
                                        </div>
                                    </li> 

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Chicken with Sun Dried Tomatoes and Spinach.JPG" alt="Chicken with Sun Dried Tomatoes and Spinach"
                                            class="menu-image" />
                                        <div>
                                            <h4>Chicken with Sun Dried Tomatoes and Spinach</h4>
                                            <p>Baked chicken topped with spinach, tomatoes, and cheese. A great way to add more veggies to your day! Comes with veggies. (Baked)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Sweet Potato Turkey Hash.JPG" alt="Sweet Potato Turkey Hash"
                                            class="menu-image" />
                                        <div>
                                            <h4>Sweet Potato Turkey Hash</h4>
                                            <p>This is one of my favorite ways to use turkey! Sautéed sweet potatoes and turkey slightly sweetened with maple syrup. Perfect for breakfast or dinner! (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Asian Five Spice Meatballs.JPG" alt="Asian Five Spice Meatballs"
                                            class="menu-image" />
                                        <div>
                                            <h4>Asian Five Spice Meatballs</h4>
                                            <p>Great Asian flavored meatballs, slow cooked all day. Comes with rice and veggies. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Day Before Roast.JPG" alt="Day Before Roast"
                                            class="menu-image" />
                                        <div>
                                            <h4>Day Before Roast</h4>
                                            <p>Delicious roast slow cooked until it falls apart. Makes the best roast beef sandwiches with au jus! Comes with rolls and veggies. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Apple Glazed Pork with Cheesy Grits.JPG" alt="Apple Glazed Pork with Cheesy Grits"
                                            class="menu-image" />
                                        <div>
                                            <h4>Apple Glazed Pork with Cheesy Grits</h4>
                                            <p>Slightly sweet, seasoned pork served over cheesy grits. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Sausage Cranberry Ragu.JPG" alt="Sausage Cranberry Ragu"
                                            class="menu-image" />
                                        <div>
                                            <h4>Sausage Cranberry Ragu</h4>
                                            <p>A fun seasonal dinner. This pasta sauce is a great combination of fall flavors. Comes with pasta. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Pork Chops with Cider Pan Sauce.JPG" alt="Pork Chops with Cider Pan Sauce"
                                            class="menu-image" />
                                        <div>
                                            <h4>Pork Chops with Cider Pan Sauce</h4>
                                            <p>Juicy pork chops are finished with a sweet and savory pan sauce. Comes with veggies. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Corn Chowder.JPG" alt="Corn Chowder"
                                            class="menu-image" />
                                        <div>
                                            <h4>Corn Chowder</h4>
                                            <p>I love soup and this one has moved to the top of my favorites list! Slow cooked all day with a touch of cream or coconut milk added at the end. (Slow cooker or stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Black Bean and Butternut Squash Stew.JPG" alt="Black Bean and Butternut Squash Stew"
                                            class="menu-image" />
                                        <div>
                                            <h4>Black Bean and Butternut Squash Stew</h4>
                                            <p>A delicious, hearty stew. Perfect for a cozy evening at home. (Slow cooker or stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Eggplant Sauce with Pasta.JPG" alt="Eggplant Sauce with Pasta"
                                            class="menu-image" />
                                        <div>
                                            <h4>Eggplant Sauce with Pasta</h4>
                                            <p>A delicious, chunky pasta sauce. (Stovetop)</p>
                                        </div>
                                    </li> 

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Golden Coconut Lentil Soup.JPG" alt="Golden Coconut Lentil Soup"
                                            class="menu-image" />
                                        <div>
                                            <h4>Golden Coconut Lentil Soup</h4>
                                            <p>A great soup filled with bright flavors. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Harissa Veggie Bowl.JPG" alt="Harissa Veggie Bowl"
                                            class="menu-image" />
                                        <div>
                                            <h4>Harissa Veggie Bowl</h4>
                                            <p>A great selection of fall veggies, roasted and served over quinoa. (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-11/web_Roasted Veggie Tacos.JPG" alt="Roasted Veggie Tacos"
                                            class="menu-image" />
                                        <div>
                                            <h4>Roasted Veggie Tacos</h4>
                                            <p>The best tacos filled with veggies and flavor! (Oven)</p>
                                        </div>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <h3 class="subheading">December 2018</h3>
                                <ul class="menu-list">

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Baked French Toast with Praline Topping.JPG" alt="Baked French Toast with Praline Topping"
                                            class="menu-image" />
                                        <div>
                                            <h4>Baked French Toast with Praline Topping</h4>
                                            <p>My favorite family tradition. We have this amazing breakfast bake for all our big family breakfasts. (Oven)</p>
                                        </div>
                                    </li> 

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Orange Rosemary Chicken.JPG" alt="Orange Rosemary Chicken"
                                            class="menu-image" />
                                        <div>
                                            <h4>Orange Rosemary Chicken</h4>
                                            <p>Juicy, citrus marinated chicken served with veggies. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Honey Sriracha Chicken.JPG" alt="Honey Sriracha Chicken"
                                            class="menu-image" />
                                        <div>
                                            <h4>Honey Sriracha Chicken</h4>
                                            <p>A little spice to go with a little sweet! This will be your new favorite take-out substitute. Comes with rice and veggies. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_French Onion Chicken.JPG" alt="French Onion Chicken"
                                            class="menu-image" />
                                        <div>
                                            <h4>French Onion Chicken</h4>
                                            <p>Tender chunks of chicken, caramelized onions, and Swiss cheese served over egg noodles. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Parmesan Honey Pork Roast.JPG" alt="Parmesan Honey Pork Roast"
                                            class="menu-image" />
                                        <div>
                                            <h4>Parmesan Honey Pork Roast</h4>
                                            <p>Italian herbs and cheese slow cooked until the roast falls apart. Comes with veggies. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Spicy Apple Glazed Meatballs.JPG" alt="Spicy Apple Glazed Meatballs"
                                            class="menu-image" />
                                        <div>
                                            <h4>Spicy Apple Glazed Meatballs</h4>
                                            <p>A sticky, sweet glaze to top meatballs. Comes with rice and veggies. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Ropa Vieja.JPG" alt="Ropa Vieja"
                                            class="menu-image" />
                                        <div>
                                            <h4>Ropa Vieja</h4>
                                            <p>Beef roast slow cooked with peppers and tomatoes. A Midwest twist on a Cuban favorite. Comes with rice. (Slow Cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Stuffed Pepper Soup.JPG" alt="Stuffed Pepper Soup"
                                            class="menu-image" />
                                        <div>
                                            <h4>Stuffed Pepper Soup</h4>
                                            <p>A tomato based soup filled with beef or mushrooms, peppers, and rice. A quick and delicious dinner. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Taco Soup.JPG" alt="Taco Soup"
                                            class="menu-image" />
                                        <div>
                                            <h4>Taco Soup</h4>
                                            <p>A flavorful, veggie loaded soup. It is my go-to for a filling meal in cold weather. Comes with or without chicken and cheese. (Slow cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Butter(less) Chickpeas.JPG" alt="Butter(less) Chickpeas"
                                            class="menu-image" />
                                        <div>
                                            <h4>Butter(less) Chickpeas</h4>
                                            <p>A vegan take on a classic Indian dish. Comes with rice. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Breakfast Skillet.JPG" alt="Breakfast Skillet"
                                            class="menu-image" />
                                        <div>
                                            <h4>Breakfast Skillet</h4>
                                            <p>A veggie filled hash. Perfect for a quick breakfast or dinner. (Stovetop)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="/Menu-Images/2018-12/web_Smoky Sweet Potato and Chickpea Stew.JPG" alt="Smoky Sweet Potato and Chickpea Stew"
                                            class="menu-image" />
                                        <div>
                                            <h4>Smoky Sweet Potato and Chickpea Stew</h4>
                                            <p>A thick and delicious stew. A great meal to go with a good book. (Slow Cooker)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <!-- <img src="/Menu-Images/2018-12/web_Couscous Casserole.JPG" alt="Couscous Casserole"
                                            class="menu-image" /> -->
                                        <div>
                                            <h4>Couscous Casserole</h4>
                                            <p>layers of roasted veggies and couscous, baked until bubbly and delicious. (Oven)</p>
                                        </div>
                                    </li>

                                    <li>
                                        <!-- <img src="/Menu-Images/2018-12/web_Honey Lime Ginger Pork.JPG" alt="Honey Lime Ginger Pork"
                                            class="menu-image" /> -->
                                        <div>
                                            <h4>Honey Lime Ginger Pork</h4>
                                            <p>Sweet and tangy pork served with veggies and rice. (Slow Cooker)</p>
                                        </div>
                                    </li>
                                                                        
                                </ul>
                            </li>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>