<div id="menu" class="section">
    <section class="menu-container">
        <div class="container menu-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="section-heading">
                        <h2>Menu</h2>
                        <h3 class="subheading">March 2018</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="menu-list">

                        <li>
                            <img src="/Menu-Images/2018-03/web_Orange Chicken.JPG" alt="Orange Chicken" class="menu-image"
                            />
                            <div>
                                <h4>Orange Chicken</h4>
                                <p>My favorite Chinese meal. Lightly breaded chicken tossed with an orange sauce and served
                                    with rice and veggies. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_Bacon Wrapped Pork Chop.JPG" alt="Bacon Wrapped Pork Chops with Jalapeno Creamed Corn" class="menu-image"
                            />
                            <div>
                                <h4>Bacon Wrapped Pork Chops with Jalapeno Creamed Corn</h4>
                                <p>Juicy pork chops wrapped in crispy bacon and served with homemade creamed corn. It is the
                                    perfect Iowa farm meal! (Stovetop) </p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_French onion soup.JPG" alt="French Onion Soup" class="menu-image"
                            />
                            <div>
                                <h4>French Onion Soup</h4>
                                <p>Slow cooker caramelized onions cooked with beef broth. Top with croutons and Swiss cheese
                                    for the perfect beefy, cheesy bite! (Slow Cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_Hot Sausage Sandwiches.JPG" alt="Hot Sausage Sandwiches" class="menu-image"
                            />
                            <div>
                                <h4>Hot Sausage Sandwiches</h4>
                                <p>My favorite sandwich growing up! Italian sausage is cooked with veggies and tomatoes. Spoon
                                    it on buns and top with mozzarella. Comes with veggies, buns and cheese. (Stovetop) </p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_Ham and Broccoli Strata.JPG" alt="Ham and Broccoli Strata" class="menu-image"
                            />
                            <div>
                                <h4>Ham and Broccoli Strata</h4>
                                <p>Layers of flaky croissants, ham, broccoli and cheese. Once baked it is the perfect combination
                                    of gooey cheese and crispy croissants. Perfect for breakfast or breakfast for dinner!
                                    Can be made vegetarian. (Oven) </p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_Spaghetti Stuffed Meatball.JPG" alt="Spaghetti Stuffed Meatball" class="menu-image"
                            />
                            <div>
                                <h4>Spaghetti Stuffed Meatball</h4>
                                <p>The name says it all! Spaghetti and meatballs are turned inside out. It is a fun twist on
                                    a classic meal. Served with bread and veggies. (Oven) </p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_Lomo Saltado.JPG" alt="Lomo Saltado" class="menu-image"
                            />
                            <div>
                                <h4>Lomo Saltado</h4>
                                <p>One of my favorite dishes from Peru! A delicious stir fry of beef, veggies, and potatoes.
                                    Served over rice. Can be made vegetarian. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_Cheeseburger Gnocchi.JPG" alt="Cheeseburger Gnocchi" class="menu-image"
                            />
                            <div>
                                <h4>Cheeseburger Gnocchi</h4>
                                <p>Cheeseburger pasta with potato dumplings. The best parts of a burger and fries without the
                                    bun! Can be made vegetarian. (Stovetop)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_Quinoa Enchilada Bowls.JPG" alt="Quinoa Enchilada Bowls" class="menu-image"
                            />
                            <div>
                                <h4>Quinoa Enchilada Bowls</h4>
                                <p>Cheesy, veggie goodness in tasty enchilada sauce. Perfect for Meatless Monday or Taco Tuesday!
                                    (Vegetarian) (Slow Cooker)</p>
                            </div>
                        </li>

                        <li>
                            <img src="/Menu-Images/2018-03/web_Ginger Peach Chicken.JPG" alt="Ginger Peach Chicken" class="menu-image"
                            />
                            <div>
                                <h4>Ginger Peach Chicken</h4>
                                <p>Juicy chicken and peaches slow cooked to perfection. Served with rice and veggies. (Slow
                                    Cooker)
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row menu-btn-container">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a href="/Menu-Archive/" class="btn btn-default btn-block">Previous Menus</a>
                </div>
            </div>
        </div>
    </section>
</div>