@use "variables.scss";

@use "elements/fonts.scss";
@use "elements/body.scss";
@use "elements/anchors.scss";
@use "elements/images.scss";
@use "elements/inputs.scss";
@use "elements/headings.scss";
@use "elements/buttons.scss";
@use "elements/sections.scss";

html {
  scroll-behavior: smooth;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.container {
  // position: relative;
  // z-index: 3;
}

/*Header*/

/*Top nav left*/

.top-nav {
  color: #070606;
  line-height: 40px;
  border-bottom: 1px solid variables.$primary-olive-green;
}

/*Top left Menu*/

.top-left {
  float: left;
}

.top-left ul > li {
  display: inline-block;
  margin-right: 15px;
}

.top-left a {
  color: #070606;
}

.top-left a:hover {
  color: variables.$primary-olive-green;
}

/*Top Right Menu*/

.top-right {
  float: right;
}

.top-right p:before {
  content: "\f041";
  font-family: "FontAwesome";
  font-size: 16px;
  color: variables.$primary-olive-green;
  margin-right: 10px;
}

.top-right p {
  font-family: variables.$base-font-family;
  font-weight: 700;
  font-size: 14px;
}

.top-right p > span {
  margin-left: 5px;
  font-style: italic;
  font-weight: 400;
}

.menu-content {
  border: 8px solid $primary-olive-green;
  background-color: $secondary-light;
  padding: 2vw 5vw 5vw 5vw;
}

.menu-btn-container {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .menu-container {
    padding: 15px;
  }
}

hr {
  border-color: $primary-pepper;
}
