@import "./variables.scss";

@import "./elements/fonts.scss";
@import "./elements/body.scss";
@import "./elements/anchors.scss";
@import "./elements/images.scss";
@import "./elements/inputs.scss";
@import "./elements/headings.scss";
@import "./elements/buttons.scss";
@import "./elements/sections.scss";

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.container {
  position: relative;
  z-index: 3;
}

/*Header*/

/*Top nav left*/

.top-nav {
  color: #070606;
  line-height: 40px;
  border-bottom: 1px solid $primary-olive-green;
}

/*Top left Menu*/

.top-left {
  float: left;
}

.top-left ul > li {
  display: inline-block;
  margin-right: 15px;
}

.top-left a {
  color: #070606;
}

.top-left a:hover {
  color: $primary-olive-green;
}

/*Top Right Menu*/

.top-right {
  float: right;
}

.top-right p:before {
  content: "\f041";
  font-family: "FontAwesome";
  font-size: 16px;
  color: $primary-olive-green;
  margin-right: 10px;
}

.top-right p {
  font-family: $base-font-family;
  font-weight: 700;
  font-size: 14px;
}

.top-right p > span {
  margin-left: 5px;
  font-style: italic;
  font-weight: 400;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: $secondary-light;
  text-transform: uppercase;
  background-color: $primary-olive-green;
  border-color: $primary-olive-green;
}

// .join-content .btn,
// .menu-container .btn-buy-jars {
// }

// .join-content .btn:hover,
// .menu-container .btn-buy-jars:hover {
// }

// .join-content .btn:hover,
// .menu-container .btn-buy-jars:hover {
// }
/*FAQ*/

/*Contact*/

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

/* Contact */

.contact-container {
  line-height: 2;
}

#mc-embedded-subscribe {
  margin-top: 16px;
}

#mc_embed_signup {
  margin-top: 50px;
}

input.mce_inline_error {
  border: 2px solid $primary-pepper !important;
}

div.mce_inline_error {
  color: $primary-pepper !important;
  background: none !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

@media (min-width: 768px) {
  .contact-container {
    font-size: 1.6em;
  }
}

@media (min-width: 992px) {
  #mc_embed_signup {
    margin-top: 0;
  }
}

/*Bottom Footer*/

#bottom-footer {
  position: relative;
  margin-top: 50px;
  background-image: url("https://res.cloudinary.com/dinner-delights/image/upload/c_limit,f_auto,q_auto:low,w_1000/v1584279687/wood-grain.jpg");
  background-size: cover;
  padding: 20px 0;
  color: $secondary-dark;
}

#bottom-footer::before {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $secondary-light;
  opacity: 0.8;
}

#bottom-footer .footer-right ul > li > a {
  color: $secondary-dark;
}

#bottom-footer .footer-right ul > li > a:hover {
  color: $secondary-dark;
}

.monthly-menu-header {
  font-family: $base-font-family;
}

i.fa.fa-external-link {
  font-size: 16px;
}

.menu-archive {
  margin-top: 100px;
}

.menu-archive h1 {
  text-align: center;
}

.menu-archive h2 {
  font-family: $subheading-font-family;
  color: $primary-pepper;
}

.menu-archive {
  border: 8px solid $primary-olive-green;
  background-color: $secondary-light;
  padding: 2vw 5vw 5vw 5vw;
}

.photos-section {
  margin-top: 90px;
}

.photos-section .grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.photos-section .photo-item {
  box-sizing: border-box;
  flex: 0 1 calc(50% - 8px);
  display: flex;
  align-items: center;
  background-color: $secondary-light;
  border: 8px solid $secondary-light;
  margin: 4px;
}

.photos-section .photo-item img {
  width: 100%;
}

@media (min-width: 768px) {
  .photos-section .photo-item {
    flex: 0 1 calc(33% - 8px);
  }
}

@media (min-width: 992px) {
  .photos-section .photo-item {
    flex: 0 1 calc(25% - 8px);
  }
}
