/* Branding Colors */
/*
Primary:
Eggplant - #602650 - rgb 96, 38, 81
Olive Green - #789b4a - rgb 120, 156, 74
Pepper - #e43d2f - 228, 61, 48

Secondary:
Dark Mushroom - #5c534d - rgb 92, 83, 77
Light Mushroom - #efeeeb - rgb 239, 238, 236
*/
$primary-eggplant: #602650;
$primary-olive-green: #789b4a;
$primary-pepper: #e43d2f;

$secondary-dark: #5c534d;
$secondary-light: #efeeeb;

$base-font-family: "Open Sans", sans-serif;
$heading-font-family: "wanderlust_lettersregular";
$subheading-font-family: "local_breweryfour";
