@use "../variables.scss";

/* Sections */
.section {
  margin-top: 100px;
}

.section-heading {
  text-align: center;
}

.section-heading h2 {
  font-size: 56px;
}

.section-heading p {
  margin-top: 20px;
  line-height: 25px;
  color: #070606;
  margin-bottom: 50px;
}
