@use "../variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  color: variables.$primary-eggplant;
  line-height: 1.3;
}

.subheading {
  color: variables.$primary-pepper;
  font-family: variables.$subheading-font-family;
}
